
	@import './color.scss';

	.bullet-item {
		padding-left: 3rem;
		position: relative;
		&:before {
			background-color: black;
			border-radius: 50%;
			content: "";
			height: 4px;
			left: 1rem;
			position: absolute;
			top: 10px;
			width: 4px;
		}
	}

	.bullet-item_footer {
		position: relative;
		&:before {
			background-color: $medium-gray;
			border-radius: 50%;
			content: "";
			height: 4px;
			left: 0;
			position: absolute;
			top: 12px;
			width: 4px;
		}
	}