
	.pagination {
		button {
			margin-top: 10px;
			padding: 6px 10px;
			border: 1px solid $gray;
		}
	}

	.pagination_numbers {
		padding: 12px 1rem;
	}

	.pagination_numbers_item {
		margin-right: 10px;
		border: 1px solid $gray;
		font-size: 14px;
		&:last-of-type {
			margin-left: 10px;
			margin-right: 0;
		}
	}