
	.hide-edit-fields {
		display: none !important;
	}

  .u-bullets {
    position: relative;
    &:before {
      background-color: black;
      border-radius: 50%;
      content: "";
      height: 6px;
      left: -20px;
      position: absolute;
      top: 10px;
      width: 6px;
    }
  }

  .u-order-list {
    li {
      margin-bottom: 10px;
    }
  }

  .distributionFunds {
    .fieldsDistributionFunds {
      display: inline-block;
      width: 48.5%;
      &:before {
        content: none !important;
      }
    }
  }

  .row-title-xs {
    color: white;
    background-color: #0090DA;
    margin-bottom: 0;
  }

  .height-100 {
    height: 100%;
  }

  .min-width-108 {
    min-width: 108px;
  }

  .max-width-108 {
    max-width: 108px;
  }

  .mg-0-auto {
    margin: 0 auto;
  }

  .mg-bottom-0 {
    margin-bottom: 0;
  }

  .mg-bottom-5 {
    margin-bottom: 5px;
  }

  .mg-bottom-15 {
    margin-bottom: 15px;
  }

  .mg-bottom-19 {
    margin-bottom: 19px;
  }

  .mg-bottom-xs-19 {
    margin-bottom: 19px;
  }

  .mg-bottom-xs-4 {
    margin-bottom: 4px;
  }

  .mg-bottom-xs-8 {
    margin-bottom: 8px;
  }

  .mg-bottom-xs--7 {
    margin-bottom: -7px;
  }

  .mg-bottom-xs-15 {
    margin-bottom: 15px;
  }

  .mg-bottom-xs-30 {
    margin-bottom: 30px;
  }

  .mg-right-10 {
    margin-right: 10px;
  }

  .mg-right-30 {
    margin-right: 30px;
  }

  .mg-top-i-0 {
    margin-top: 0 !important;
  }

  .mg-top-xs-15 {
    margin-top: 15px;
  }

  .mg-top-15 {
    margin-top: 15px;
  }

  .mg-top-30 {
    margin-top: 30px;
  }

  .pd-05-0625 {
    padding: 0.5rem 0.625rem;
  }

  .pd-10 {
    padding: 10px;
  }

  .pd-top-8 {
    padding-top: 8px;
  }

  .pd-0-10 {
    padding: 0 10px;
  }

  .pd-top-right {
    padding: 8px 10px 0 0;
  }



  @media screen and (min-width: 62em) {
    .distributionFunds {
      .fieldsDistributionFunds {
        width: auto;
      }
    }

    .row-title-xs {
      display: none !important;
    }

    .mg-bottom-xs-4 {
      margin-bottom: 0;
    }

    .mg-bottom-xs-8 {
      margin-bottom: 0;
    }

    .mg-bottom-xs-15 {
      margin-bottom: 0;
    }

    .mg-bottom-xs-30 {
      margin-bottom: 0;
    }

    .mg-bottom-xs-19 {
      margin-bottom: 0;
    }

    .mg-bottom-md-15 {
      margin-bottom: 15px;
    }

    .mg-bottom-md-19 {
      margin-bottom: 19px;
    }

    .mg-bottom-md-0 {
      margin-bottom: 0;
    }

    .mg-top-xs-15 {
      margin-top: 0;
    }

    .mg-top-md-8 {
      margin-top: 8px;
    }
  }