
<section class="tabs-client-profile" >
  <div id="parentHorizontalTab">
    <ul class="resp-tabs-list hor_1 u-row tabs_wrapper u-space">
      <li class="tab-accordion col-md-2 center-xs">
        <h5 class="tab_arrow">Información<br class="hide-xs show-md"> de Contacto<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>

      <li class="tab-accordion col-md-2 center-xs">
        <h5 class="tab_arrow">Clave<br class="hide-xs show-md"> de Acceso<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>

      <li class="tab-accordion col-md-2 center-xs">
        <h5 class="tab_arrow">Código<br class="hide-xs show-md">s Telefónico<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>
    </ul>

    <div class="resp-tabs-container hor_1">
      <div>{{> tab-client-profile-1 }}</div>
      <div>{{> tab-client-profile-2 }}</div>
      <div>{{> tab-client-profile-3 }}</div>
    </div>
	</div>
</section>
