
	<section class="tabs_wrap u-space">
		<div class="client_wrap_container">

			<h5 class="tabs-subtitle-profile">Información Personal</h5>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Rut:</strong></p>
							<p>15.367.219-9</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Nombres:</strong></p>
							<p>Daniel Esteban</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Apellido Paterno:</strong></p>
							<p>Llanos</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Apellido Materno:</strong></p>
							<p>Marquez</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Fecha de Nacimiento:</strong></p>
							<p>10/11/1975</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Sexo:</strong></p>
							<p>Masculino</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Estado Civil:</strong></p>
							<p>Soltero</p>
						</div>
					</div>
				</div>
			</div>



			<h5 class="tabs-subtitle-profile">Información de Contacto</h5>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Dirección:</strong></p>
							<p>Monseñor Escribá de Balaguer 14.554</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Región:</strong></p>
							<p>Metropolitana</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Ciudad:</strong></p>
							<p>Santiago</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Comuna:</strong></p>
							<p>Lo Barnechea</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Teléfono Celular:</strong></p>
							<p>+56 972 491 864</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Teléfono Fijo:</strong></p>
							<p>+56 227 170 082</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Email:</strong></p>
							<p>daniel.llanos@gmail.com</p>
						</div>
					</div>
				</div>
			</div>



			<h5 class="tabs-subtitle-profile">Otra Información</h5>
			<div class="client-profile_row u-row u-space">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Sistema Previsional:</strong></p>
							<p>Colmena Golden Cross</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Profesión:</strong></p>
							<p>Ingeniero Industrial</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p class="client-profile_desc"><strong>Hobbies:</strong></p>
							<p>NetFlix</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>