
	<section class="tabs_wrap u-space">
		<div class="tabs_wrap_container">

			<h3 class="tabs-subtitle">Información Personal</h3>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Rut:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>15.367.219-9</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Nombres:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Daniel Esteban</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Apellido Paterno:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Llanos</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Apellido Materno:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Marquez</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Fecha de Nacimiento:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>10/11/1975</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Sexo:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Masculino</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Estado civil:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Soltero</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>





	<section class="tabs_wrap u-space">
		<div class="tabs_wrap_container">

			<h3 class="tabs-subtitle">Información de Contacto</h3>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Dirección:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Monseñor Escribá de Balaguer 14.554</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Región:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Metropolitana</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Ciudad:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Santiago</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Comuna:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Lo Barnechea</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Teléfono Celular:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>+56 972 491 864</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Teléfono Fijo:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>+56 227 170 082</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Email:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>daniel.llanos@gmail.com</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>



	<section class="tabs_wrap">
		<div class="tabs_wrap_container">

			<h3 class="tabs-subtitle">Otra Información</h3>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Sistema Previsional:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Colmena Golden Cross</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Profesión:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>Ingeniero Industrial</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<p><strong>Hobbies:</strong></p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p>NetFlix</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>