
	<section class="tabs_wrap u-space">
		<div class="client_wrap_container">

			<h5 class="tabs-subtitle-profile">Información Personal</h5>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Rut:</strong><br>15.367.219-9</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Nombres:</strong><br>Daniel Esteban</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Apellido Paterno:</strong><br>Llanos</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Apellido Materno:</strong><br>Marquez</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Fecha de Nacimiento:</strong><br>10/11/1975</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Sexo:</strong><br>Masculino</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Estado Civil:</strong><br>Soltero</p>
						</div>
					</div>
				</div>
			</div>



			<h5 class="tabs-subtitle-profile">Información de Contacto</h5>
			<div class="client-profile_row u-row">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Dirección:</strong><br>Monseñor Escribá de Balaguer 14.554</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Región:</strong><br>Metropolitana</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Ciudad:</strong><br>Santiago</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Comuna:</strong><br>Lo Barnechea</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Teléfono Celular:</strong><br>+56 972 491 864</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Teléfono Fijo:</strong><br>+56 227 170 082</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Email:</strong><br>daniel.llanos@gmail.com</p>
						</div>
					</div>
				</div>
			</div>



			<h5 class="tabs-subtitle-profile">Otra Información</h5>
			<div class="client-profile_row u-row u-space">
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Sistema Previsional:</strong><br>Colmena Golden Cross</p>
						</div>
					</div>
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Profesión:</strong><br>Ingeniero Industrial</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="u-row">
						<div class="col-xs-12 ">
							<p><strong>Hobbies:</strong><br>NetFlix</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>