
	<section class="u-row gutter-xs center-xs">
		<div class="col-xs-12 start-xs u-space">
			<section class="card card-blue z-depth-2">
				<div class="card_container">
					<section class="card_section">
						<div class="card_section_irow u-row middle-xs">
							<div class="col-xs-10">
								<p class="f-small"><em>Seguros de Vida y Ahorro</em></p>
								<h4 class="card_title">
									<strong><a href="life.html" data-limit="35">MetLife Seguro de Vida</a></strong>
								</h4>
							</div>
							<div class="col-xs-2 end-xs">
								<a href="life.html"><i class="card_icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card_section_irow u-row middle-xs">
							<div class="col-md-6">
								<p class="card_item"><strong>Póliza Nº: </strong>0056705543-A</p>
								<p class="card_item"><strong>Valor Póliza a la Fecha: </strong>UF 8.556 / $ 223.333.223</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<select class="cs-select cs-skin-border" onchange="location = this.value;">
									<option selected>¿Qué quieres hacer?</option>
									<option value="vida-pagar-prima" data-link="#">Pagar Prima</option>
									<option value="vida-ver-beneficiarios" data-link="#">Ver Beneficiarios</option>
									<option value="vida-revisar-historico-pagos" data-link="#">Revisar Histórico de pagos</option>
									<option value="vida-ver-informacion-poliza" data-link="#">Ver Información de la Póliza</option>
									<option value="vida-ver-detalle-producto" data-link="#">Ver Detalle del Producto</option>
								</select>
							</div>
						</div>



						<div class="card_more end-xs">
							<a href="" class="f-link openContent" data-open-content="openPay">
								<span class="openContentText" data-rest-text="Mostrar más información" data-open-text="Mostrar menos información" data-close="true">Mostrar más información</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</div>
					</section>

					<section class="card_section u-divider toggleContent" data-toggle-content="openPay">
						<h5 class="card_sub-title"><strong>Pagos:</strong></h5>
						<ul class="card_table u-row">
							<li class="card_table-item col-xs-6 u-space">
								<p class="card_item"><strong>Último Pago Realizado:</strong></p>
								<p class="card_item">23/12/2016</p>
							</li>
							<li class="card_table-item col-xs-6 end-xs u-space">
								<p class="card_item"><strong>Total a pagar (al 28/09/2017):</strong></p>
								<p class="card_item">UF 0.85 / $ 22.554</p>
							</li>
						</ul>
						<div class="card_button end-xs">
							<a href="" class="button button-primary">Descargar Cupón de Pago</a>
						</div>
					</section>
				</div>
			</section>
		</div>


		<div class="col-xs-12 start-xs u-space">
			<section class="card card-blue z-depth-2">
				<div class="card_container">
					<section class="card_section">
						<div class="card_section_irow u-row middle-xs">
							<div class="col-xs-10">
								<p class="f-small"><em>Seguros de Vida y Ahorro</em></p>
								<h4 class="card_title">
									<strong><a href="life-apv.html" data-limit="35">MetLife Seguro APV</a></strong>
								</h4>
							</div>
							<div class="col-xs-2 end-xs">
								<a href="life-apv.html"><i class="card_icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card_section_irow u-row middle-xs">
							<div class="col-md-6">
								<p class="card_item"><strong>Póliza Nº: </strong>0056705543-A</p>
								<p class="card_item"><strong>Valor Póliza a la Fecha: </strong>UF 8.556 / $ 223.333.223</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<select class="cs-select cs-skin-border" onchange="location = this.value;">
									<option selected>¿Qué quieres hacer?</option>
									<option value="vida-ahorro-pagar-prima" data-link="#">Pagar Prima</option>
									<option value="vida-ahorro-hacer-aporte" data-link="#">Hacer Aporte Esporádicos</option>
									<option value="vida-ahorro-ver-resumen-saldos-ahorro" data-link="#">Ver Resumen de Saldos de Ahorro</option>
									<option value="vida-ahorro-descargar-ultima-cartola" data-link="#">Descargar Última Cartola</option>
									<option value="vida-ahorro-ver-detalle-producto" data-link="#">Ver Detalle del Producto</option>
								</select>
							</div>
						</div>



						<div class="card_more end-xs">
							<a href="" class="f-link openContent" data-open-content="openPay">
								<span class="openContentText" data-rest-text="Mostrar más información" data-open-text="Mostrar menos información" data-close="true">Mostrar más información</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</div>
					</section>

					<section class="card_section u-divider toggleContent" data-toggle-content="openPay">
						<h5 class="card_sub-title"><strong>Pagos:</strong></h5>
						<ul class="card_table u-row">
							<li class="card_table-item col-xs-6 u-space">
								<p class="card_item"><strong>Último Pago Realizado:</strong></p>
								<p class="card_item">23/12/2016</p>
							</li>
							<li class="card_table-item col-xs-6 end-xs u-space">
								<p class="card_item"><strong>Total a pagar (al 28/09/2017):</strong></p>
								<p class="card_item">UF 0.85 / $ 22.554</p>
							</li>
						</ul>
						<div class="card_button end-xs">
							<a href="" class="button button-primary">Descargar Cupón de Pago</a>
						</div>
					</section>
				</div>
			</section>
		</div>



		<div class="col-xs-12 start-xs u-space">
			<section class="card card-blue z-depth-2">
				<div class="card_container">
					<section class="card_section">
						<div class="card_section_irow u-row middle-xs">
							<div class="col-xs-10">
								<p class="f-small"><em>Seguros AS400</em></p>
								<h4 class="card_title">
									<strong><a href="life-as400.html" data-limit="35">MetLife Seguro APV</a></strong>
								</h4>
							</div>
							<div class="col-xs-2 end-xs">
								<a href="life-as400.html"><i class="card_icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card_section_irow u-row middle-xs">
							<div class="col-md-6">
								<p class="card_item"><strong>Póliza Nº: </strong>0056705543-A</p>
								<p class="card_item"><strong>Valor Póliza a la Fecha: </strong>UF 8.556 / $ 223.333.223</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<select class="cs-select cs-skin-border" onchange="location = this.value;">
									<option selected>¿Qué quieres hacer?</option>
									<option value="vida-as400-pagar-prima" data-link="#">Pagar Prima</option>
									<option value="vida-as400-hacer-aporte" data-link="#">Hacer Aporte Esporádicos</option>
									<option value="vida-as400-ver-resumen-saldos-ahorro" data-link="#">Ver Resumen de Saldos de Ahorro</option>
									<option value="vida-as400-descargar-ultima-cartola" data-link="#">Descargar Última Cartola</option>
									<option value="vida-as400-ver-detalle-producto" data-link="#">Ver Detalle del Producto</option>
								</select>
							</div>
						</div>



						<div class="card_more end-xs">
							<a href="" class="f-link openContent" data-open-content="openPay">
								<span class="openContentText" data-rest-text="Mostrar más información" data-open-text="Mostrar menos información" data-close="true">Mostrar más información</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</div>
					</section>

					<section class="card_section u-divider toggleContent" data-toggle-content="openPay">
						<h5 class="card_sub-title"><strong>Pagos:</strong></h5>
						<ul class="card_table u-row">
							<li class="card_table-item col-xs-6 u-space">
								<p class="card_item"><strong>Último Pago Realizado:</strong></p>
								<p class="card_item">23/12/2016</p>
							</li>
							<li class="card_table-item col-xs-6 end-xs u-space">
								<p class="card_item"><strong>Total a pagar (al 28/09/2017):</strong></p>
								<p class="card_item">UF 0.85 / $ 22.554</p>
							</li>
						</ul>
						<div class="card_button end-xs">
							<a href="" class="button button-primary">Descargar Cupón de Pago</a>
						</div>
					</section>
				</div>
			</section>
		</div>




		<div class="col-xs-12 start-xs u-space">
			<section class="card card-pink z-depth-2">
				<div class="card_container">
					<section class="card_section">
						<div class="card_section_irow u-row middle-xs">
							<div class="col-xs-10">
								<p class="f-small"><em>Seguros de Salud y Accidentes</em></p>
								<h4 class="card_title"><strong><a href="health.html">MetLife Seguro Protección Accidental Full</a></strong></h4>
							</div>
							<div class="col-xs-2 end-xs">
								<a href="health.html"><i class="card_icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card_section_irow u-row middle-xs">
							<div class="col-md-6">
								<p class="card_item"><strong>Póliza Nº: </strong>0056705543-A</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<select class="cs-select cs-skin-border" onchange="location = this.value;">
									<option selected>¿Qué quieres hacer?</option>
									<option value="salud-pagar-prima" data-link="#">Pagar Prima</option>
									<option value="salud-ver-asegurado" data-link="#">Ver Asegurados</option>
									<option value="salud-ver-siniestros-reembolsos" data-link="#">Ver Siniestros y Reembolsos</option>
									<option value="salud-historico-pagos" data-link="#">Revisar Historico de Pagos</option>
									<option value="salud-ver-detalle-producto" data-link="#">Ver Detalle del Producto</option>
								</select>
							</div>
						</div>
						<div class="card_more end-xs">
							<a href="" class="f-link openContent" data-open-content="openPink">
								<span class="openContentText" data-rest-text="Mostrar más información" data-open-text="Mostrar menos información" data-close="true">Mostrar más información</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</div>
					</section>

					<section class="card_section u-divider toggleContent" data-toggle-content="openPink">
						<h5 class="card_sub-title"><strong>Pagos:</strong></h5>

						<ul class="card_table u-row">
							<li class="card_table-item col-xs-6 u-space">
								<p class="card_item"><strong>Último Pago Realizado:</strong></p>
								<p class="card_item">23/12/2016</p>
							</li>
							<li class="card_table-item col-xs-6 end-xs u-space">
								<p class="card_item"><strong>Total a pagar (al 28/09/2017):</strong></p>
								<p class="card_item">UF 0.85 / $ 22.554</p>
							</li>
						</ul>
						<div class="card_button end-xs">
							<a href="" class="button button-primary">Cupón de Pago</a>
						</div>
					</section>
				</div>
			</section>
		</div>


		<div class="col-xs-12 start-xs u-space">
			<section class="card card-mortgage z-depth-2">
				<div class="card_container">
					<section class="card_section">
						<div class="card_section_irow u-row middle-xs">
							<div class="col-xs-10">
								<p class="f-small"><em>Mutuaria</em></p>
								<h4 class="card_title"><strong><a href="mortgage.html">Crédito Hipotecario Universal</a></strong></h4>
							</div>
							<div class="col-xs-2 end-xs">
								<a href="mortgage.html"><i class="card_icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card_section_irow u-row middle-xs">
							<div class="col-md-6">
								<p class="card_item"><strong>Nº de Crédito: </strong>[Número Crédito]</p>
								<p class="card_item"><strong>Tipo de Producto: </strong>[Tipo Producto]</p>
								<p class="card_item"><strong>Tipo de Mutuo: </strong>[Tipo Mutuo]</p>
								<p class="card_item"><strong>Saldo Insoluto UF: </strong>[Saldo Insoluto UF]</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<select class="cs-select cs-skin-border" onchange="location = this.value;">
									<option selected>¿Qué quieres hacer?</option>
									<option value="mutuaria-pagar-dividendo" data-link="#">Pagar Dividendo</option>
									<option value="mutuaria-descargar-dividendos" data-link="#">Descargar Dividendo</option>
									<option value="mutuaria-descargar-historico-pagos" data-link="#">Descargar Histórico de Pagos</option>
									<option value="mutuaria-descargar-ultima-cartola-trimestral" data-link="#">Descargar Última Cartola Trimestral</option>
									<option value="mutuaria-ver-detalle-producto" data-link="#">Ver Detalle del Producto</option>
								</select>
							</div>
						</div>
						<div class="card_more end-xs">
							<a href="" class="f-link openContent" data-open-content="openPink">
								<span class="openContentText" data-rest-text="Mostrar más información" data-open-text="Mostrar menos información" data-close="true">Mostrar más información</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
						</div>
					</section>

					<section class="card_section u-divider toggleContent" data-toggle-content="openPink">
						<h5 class="card_sub-title"><strong>Pagos:</strong></h5>

						<ul class="card_table u-row">
							<li class="card_table-item col-xs-6 u-space">
								<p class="card_item"><strong>Último Pago Realizado:</strong></p>
								<p class="card_item">23/12/2016</p>
							</li>
							<li class="card_table-item col-xs-6 end-xs u-space">
								<p class="card_item"><strong>Total a pagar (al 28/09/2017):</strong></p>
								<p class="card_item">UF 0.85 / $ 22.554</p>
							</li>
						</ul>
						<div class="card_button end-xs">
							<a href="" class="button button-primary">Cupón de Pago</a>
						</div>
					</section>
				</div>
			</section>
		</div>


	</section>