
	<section class="tabs_wrap">
		<div class="tabs_wrap_container">

			<ul class="tabs u-row u-row-xs-full between-xs" data-tabs id="tabs">
				<li class="tabs-title center-xs is-active">
					<a href="#panel1" aria-selected="true">Información <br/> de la Póliza</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel2">Información <br/> de pagos</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel3">Asegurados <br/> y Beneficiarios</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel4">Histórico <br/> de Cartolas</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel5">Histórico <br/> de Siniestros</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel6">Ahorro <br/> e Inversión</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel7">Formularios <br/> y Documentos</a>
				</li>
			</ul>

			<div class="tabs-content" data-tabs-content="tabs">
				<div class="tabs-panel is-active" id="panel1">
					{{> tabs-life-apv-4}}
				</div>
				<div class="tabs-panel" id="panel2">
					{{> tabs-life-apv-2}}
				</div>
				<div class="tabs-panel" id="panel3">
					{{> tabs-life-apv-3}}
				</div>
				<div class="tabs-panel" id="panel4">
					{{> tabs-life-apv-1}}
				</div>
				<div class="tabs-panel" id="panel5">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel6">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel7">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
			</div>

		</div>
	</section>