
	<section class="tabs_wrap">
		<div class="tabs_wrap_container">
			<ul class="tabs" data-responsive-accordion-tabs="accordion large-tabs" id="tabs">
				<li class="tabs-title is-active">
					<a href="#panel1" class="center-xs" aria-selected="true"><h5 class="heading_sub-title">Información</h5> <h5 class="heading_sub-title"> de la Póliza</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#panel2" class="center-xs"><h5 class="heading_sub-title">Información</h5> <h5 class="heading_sub-title"> de pagos</h5></a>
				</li>
				<li class="tabs-title tabs-chart-beneficiaries">
					<a href="#panel3" class="center-xs"><h5 class="heading_sub-title">Asegurados</h5> <h5 class="heading_sub-title"> y Beneficiarios</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#panel4" class="center-xs"><h5 class="heading_sub-title">Histórico</h5> <h5 class="heading_sub-title"> de Cartolas</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#panel5" class="center-xs"><h5 class="heading_sub-title">Histórico</h5> <h5 class="heading_sub-title"> de Siniestros</h5></a>
				</li>
				<li class="tabs-title tabs-chart-investment">
					<a href="#panel6" class="center-xs"><h5 class="heading_sub-title">Ahorro</h5> <h5 class="heading_sub-title"> e Inversión</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#panel7" class="center-xs"><h5 class="heading_sub-title">Formularios</h5> <h5 class="heading_sub-title"> y Documentos</h5></a>
				</li>
			</ul>

			<div class="tabs-content" data-tabs-content="tabs">
				<div class="tabs-panel is-active" id="panel1">
					{{> tabs-life-apv-1}}
				</div>
				<div class="tabs-panel" id="panel2">
					{{> tabs-life-apv-2}}
				</div>
				<div class="tabs-panel" id="panel3">
					{{> tabs-life-apv-3}}
				</div>
				<div class="tabs-panel" id="panel4">
					{{> tabs-life-apv-4}}
				</div>
				<div class="tabs-panel" id="panel5">
					{{> tabs-life-apv-5}}
				</div>
				<div class="tabs-panel" id="panel6">
					{{> tabs-life-apv-6}}
				</div>
				<div class="tabs-panel" id="panel7">
					{{> tabs-life-apv-7}}
				</div>
			</div>

		</div>
	</section>