
	<section class="tabs_wrap">
		<div class="tabs_wrap_container">

			<ul class="tabs u-row u-row-xs-full between-xs" data-tabs id="tabs">
				<li class="tabs-title center-xs is-active">
					<a href="#panel1" aria-selected="true">Información <br/> de la Póliza</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel2">Información <br/> de pagos</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel3">Asegurados <br/> y Beneficiarios</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel4">Histórico <br/> de Cartolas</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel5">Histórico <br/> de Siniestros</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel6">Ahorro <br/> e Inversión</a>
				</li>
				<li class="tabs-title center-xs">
					<a href="#panel7">Formularios <br/> y Documentos</a>
				</li>
			</ul>

			<div class="tabs-content" data-tabs-content="tabs">
				<div class="tabs-panel is-active" id="panel1">
					<h3 class="tabs-subtitle">Información de la Póliza</h3>
					<div class="u-row">
						<div class="col-xs-12 col-sm-6">
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Número de Póliza:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>0056705543-A</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Contratante:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>Daniel Esteban Llanos Martinez</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Fecha de inicio Vigencia:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>15/09/1995</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Nombre del Asesor:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>Christian Laupheimer</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Medio de pago:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>Pago Automático Tarjeta</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Banco:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>Banco de Chile</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Régimen Tributario:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>B</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Prima Básica:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>UF 1,35 / $27.445</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Prima en Exceso:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p>UF 1,00 / $26.000</p>
								</div>
							</div>
							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p><strong>Valor Prima Total:</strong></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<p><strong>UF 2,35 / $55.556</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-panel" id="panel2">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel3">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel4">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel5">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel6">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="tabs-panel" id="panel7">
					<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
			</div>

		</div>
	</section>