
<section class="tabs-life-apv">
	<div id="parentHorizontalTab">
		<ul class="resp-tabs-list hor_1">
	    <li class="tab-accordion gutter-b"><h5>Información<br class="show-md hide-xs"> de la Póliza</h5></li>
	    <li class="tab-accordion gutter-b"><h5>Información<br class="show-md hide-xs"> de Pagos</h5></li>
	    <li class="tab-accordion tabs-chart-beneficiaries is-active gutter-b" role="presentation"><h5>Asegurados<br class="show-md hide-xs">y Beneficiarios</h5></li>
	    <li class="tab-accordion gutter-b"><h5>Cartolas<br class="show-md hide-xs"> y Certificados</h5></li>
	    <li class="tab-accordion gutter-b"><h5>Histórico<br class="show-md hide-xs"> de Siniestros</h5></li>
	    <li class="tab-accordion tabs-chart-investment is-active gutter-f" role="presentation"><h5>Ahorro<br class="show-md hide-xs"> e Inversión</h5></li>
	  </ul>

	  <div class="resp-tabs-container hor_1">
	    <div>{{> tab-life-apv-1 }}</div>
	    <div>{{> tab-life-apv-2 }}</div>
	    <div>{{> tab-life-apv-3 }}</div>
	    <div>{{> tab-life-apv-4 }}</div>
	    <div>{{> tab-life-apv-5 }}</div>
	    <div>{{> tab-life-apv-6 }}</div>
	  </div>

	</div>
</section>