
<section class="tabs-client-profile" >
  <div id="parentHorizontalTab">
    <ul class="resp-tabs-list hor_1">
      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow openContent box">Información personal
          <i class="fa fa-angle-down show-xs hide-md" aria-hidden="true"></i>
        </h5>
      </li>
      <li class="tab-accordion gutter-a"><h5>Cambia tu Clave de Acceso</h5></li>
      <li class="tab-accordion gutter-f"><h5>Solicita Clave Telefónica</h5></li>
    </ul>

    <div class="resp-tabs-container hor_1">
      <div>{{> tab-client-profile-1 }}</div>
      <div>{{> tab-client-profile-2 }}</div>
      <div>{{> tab-client-profile-3 }}</div>
    </div>
	</div>
  <h5 class="openContent">
    <i class="fa fa-angle-down" aria-hidden="true"></i></h5>


</section>