
<section class="tabs-client-profile" >
  <div id="parentHorizontalTab">
    <ul class="resp-tabs-list hor_1">
      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow">Información personal<i class="fa fa-angle-down hide-md" aria-hidden="true">↓</i></h5>
      </li>

      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow">Cambia tu Clave de Acceso<i class="fa fa-angle-down hide-md" aria-hidden="true">↓</i></h5>
      </li>

      <li class="tab-accordion gutter-f">
        <h5 class="tab_arrow">Solicita Clave Telefónica<i class="fa fa-angle-down hide-md" aria-hidden="true">↓</i></h5>
      </li>
    </ul>

    <div class="resp-tabs-container hor_1">
      <div>{{> tab-client-profile-1 }}</div>
      <div>{{> tab-client-profile-2 }}</div>
      <div>{{> tab-client-profile-3 }}</div>
    </div>
	</div>
</section>