	<section class="tabs_wrap tabs_wrap-green">
		<div class="tabs_wrap_container">
			<ul class="tabs" data-responsive-accordion-tabs="accordion large-tabs" id="tabs">
				<li class="tabs-title is-active">
					<a href="#tab-credit-1" class="center-xs" aria-selected="true"><h5 class="heading_sub-title">Información</h5> <h5 class="heading_sub-title"> del Crédito</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#tab-credit-2" class="center-xs"><h5 class="heading_sub-title">Información</h5> <h5 class="heading_sub-title"> de Dividendos</h5></a>
				</li>
				<li class="tabs-title tabs-chart-beneficiaries">
					<a href="#tab-credit-3" class="center-xs"><h5 class="heading_sub-title">Información</h5> <h5 class="heading_sub-title"> de Pagos</h5></a>
				</li>
				<li class="tabs-title">
					<a href="#tab-credit-4" class="center-xs"><h5 class="heading_sub-title">Formularios</h5> <h5 class="heading_sub-title"> y Documentos</h5></a>
				</li>
			</ul>

			<div class="tabs-content" data-tabs-content="tabs">
				<div class="tabs-panel is-active" id="tab-credit-1">
					{{> tab-credit-1 }}
				</div>
				<div class="tabs-panel" id="tab-credit-2">
					{{> tab-credit-2 }}
				</div>
				<div class="tabs-panel" id="tab-credit-3">
					{{> tab-credit-3 }}
				</div>
				<div class="tabs-panel" id="tab-credit-4">
					{{> tab-credit-4 }}
				</div>
			</div>

		</div>
	</section>