
	<td class="table-12 start-xs" valign="middle">
    <td class="table-6" align="left" valign="middle" data-table-title="% Stock">
			<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" data-edit-fields="distributionFunds" placeholder="0" data-change-funds-stock data-edit-funds-normal-value="0" />
			<p class="table_desc f-big toggl-edit-fields"><strong>{{stock}}</strong></p>
		</td>
    <td class="table-6" align="left" valign="middle" data-table-title="% Flujo">
			<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" data-edit-fields="distributionFunds" placeholder="0" data-change-funds-flow data-edit-funds-normal-value="0" />
			<p class="table_desc f-big toggl-edit-fields"><strong>{{flow}}</strong></p>
		</td>
	</td>