
	<div class="col-xs-12">
		<div class="alert alert-success u-space hide-state-update changeFundsMessageSuccess">
			<p>¡Has realizado la modificación de tus datos de contacto de forma exitosa!<br>Recuerda que es importante tener tus datos actualizados para comunicarnos contigo.</p>
			<i class="fa fa-times alert-close"></i>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="alert alert-error u-space hide-state-update changeFundsMessageCancel">
			<p class="alert_desc">Tus cambios han sido cancelados</p>
			<i class="fa fa-times alert-close"></i>
		</div>
	</div>

	<section class="payment_history u-space">
		<div class="table table-scroll center-xs col-xs-12 distributionFunds solicitarCambioFondos">
		  <table class="table-responsive u-striped distributionFundsDesktop u-space">
		    <thead>
		      <tr>
		        <th class="table-6">
							<p class="f-small table_title "><strong>Nombre de Fondo</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="apvStockCheck">% Stock</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="apvFlowCheck">% Flujo</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="depositStockCheck">% Stock</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="depositFlowCheck">% Flujo</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="voluntaryStockCheck">% Stock</strong></p>
						</th>
		        <th class="table-1">
							<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="voluntaryFlowCheck">% Flujo</strong></p>
						</th>
		      </tr>
		    </thead>

		    <tbody class="hide-xs-important show-md-table-important">
					{{#each solicitar-cambio-fondos-apv.base}}
			      <tr>
	            <td class="table-6 hide-xs-important show-md-table-important" align="left" valign="middle">

	              <p class="table_desc">{{fundTitle}}</p>
	            </td>
				    	{{#each funds}}
				        <td data-edit-fund-check-content="{{id}}StockCheck" class="table-1 hide-xs-important show-md-table-important fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Stock">
									<input class="input__label input__calculate input__calculate_show input__label--ichiro" disabled min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
								</td>
				        <td data-edit-fund-check-content="{{id}}FlowCheck" class="table-1 hide-xs-important show-md-table-important fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Flujo">
									<input class="input__label input__calculate input__calculate_show input__label--ichiro" disabled min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
								</td>
				      {{/each}}
			      </tr>
					{{/each}}

          <tr class="fieldsTotalFunds hide-xs-important show-md-table-important">
		        <td class="table-6" align="left" valign="middle">
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="apvStockCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="apvFlowCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="depositStockCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="depositFlowCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="voluntaryStockCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		        <td class="table-1" align="left" valign="middle" data-edit-fund-check-total="voluntaryFlowCheck">
		        	<div class="fieldsTotalFundsCol">
								<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
							</div>
						</td>
		      </tr>

          <tr class="hide-edit-fields show-edit-fields hide-xs-important show-md-table-important">
		        <td class="table-8" align="left" valign="middle">
						</td>
		        <td class="table-2" align="left" valign="middle" data-table-title="% Stock">
							<p class="table_desc f-big f-tiny"><strong>Stock <span data-change-funds-stock-total="distributionFunds">0</span><span class="distributionFundsPercentage">%</span></strong></p>
						</td>
		        <td class="table-2" align="left" valign="middle" data-table-title="% Flujo">
							<p class="table_desc f-big f-tiny"><strong>Flujo <span data-change-funds-flow-total="distributionFunds">0</span><span class="distributionFundsFlowPercentage">%</span></strong></p>
						</td>
		      </tr>

		    </tbody>
		  </table>

		  <!-- Mobile tables -->
      <ul class="accordion faq sucursales-sirvinco AccordionChangeFunds u-space u-top hide-md" data-accordion>

        <li class="accordion-item is-active" data-accordion-item>
        	<p class="editFundsTitle text-left u-divider-bottom-primary">
        		<strong>Distribución actual de fondos <br/>Cuenta: APV</strong>
        	</p>
          <a href="#" class="accordion-title black hide-xs">
          	<p class="f-big"><strong>Cuenta: APV</strong></p>
          </a>
          <div class="accordion-content" data-tab-content>

						<div class="ChangeFundsContinueWrap hide-xs">
							<div class="u-row u-divider-bottom start-xs middle-xs pd-bottom">
								<div class="col-xs-2">
									<p class="f-small table_title"><strong>Editar:</strong></p>
								</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="apvStockCheck"> % Stock</strong></p>
		  					</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="apvFlowCheck"> % Flujo</strong></p>
		  					</div>
	  					</div>
	  				</div>

					  <table class="table-responsive u-striped distributionFundsMobile">
					  	<tbody>
								{{#each solicitar-cambio-fondos-apv.base}}
						      <tr class="hide-md-important">
				            <td class="table-6" align="left" valign="middle">
				              <p class="tabs_content_subtitle"><strong>Nombre de fondo</strong></p>
				              <p class="table_desc">{{fundTitle}}</p>
				            </td>
							    	{{#each funds}}
						    			{{#compare id 'apv' operator='=='}}
								        <td data-edit-fund-check-content="{{id}}StockCheck" class="table-1 hide-md-important fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Stock">
								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Stock:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>
													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Stock:</span> {{stock}}</strong></p>
												</td>
								        <td data-edit-fund-check-content="{{id}}FlowCheck" class="table-1 hide-md-important fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Flujo">
								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Flujo:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>
													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Flujo:</span> {{flow}}</strong></p>
												</td>
											{{/compare}}
							      {{/each}}
						      </tr>
								{{/each}}
					  	</tbody>
					  </table>

						<div class="u-row u-top totalEditFieldsFunds hide-xs">
		          <div class="col-xs-6" data-edit-fund-check-total="apvStockCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
		          <div class="col-xs-6" data-edit-fund-check-total="apvFlowCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
	  				</div>

						<div class="ChangeFundsContinueWrap hide-xs">
						  <div class="u-space u-top">
						  	<input type="checkbox" id="changeFundsCheckbox" class="ChangeFundsContinueCheckbox" />
								<label for="changeFundsCheckbox">Utilizar misma distribución en todas las cuentas</label>
						  </div>

							<div class="SameDistributionInitial">
								<div class="u-space">
									<a href="" class="button button-primary button-full button-disabled ChangeFundsContinue">Continuar</a>
								</div>
								<a href="" class="f-link changeFundsCancel">Cancelar</a>
							</div>

							<div class="SameDistributionChange hide-xs">
								<div class="u-space u-top">
									<a href="" class="button button-primary button-full changeFundsSubmit">Solicitar cambio de fondos</a>
								</div>
								<a href="" class="f-link changeFundsCancel">Cancelar</a>
							</div>
						</div>

					</div>
				</li>

        <li class="accordion-item u-top is-active" data-accordion-item>
        	<p class="editFundsTitle text-left u-divider-bottom-primary">
        		<strong>Distribución actual de fondos <br/> Cuenta: Depósito</strong>
        	</p>
          <a href="#" class="accordion-title black hide-xs">
          	<p class="f-big"><strong>Cuenta: Depósito</strong></p>
          </a>
          <div class="accordion-content" data-tab-content>

						<div class="ChangeFundsContinueWrap hide-xs">
							<div class="u-row u-divider-bottom start-xs middle-xs pd-bottom">
								<div class="col-xs-2">
									<p class="f-small table_title"><strong>Editar:</strong></p>
								</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="depositStockCheck"> % Stock</strong></p>
		  					</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="depositFlowCheck"> % Flujo</strong></p>
		  					</div>
	  					</div>
	  				</div>


					  <table class="table-responsive u-striped distributionFundsMobile">
					  	<tbody>

								{{#each solicitar-cambio-fondos-apv.base}}
						      <tr class="hide-md-important">
				            <td class="table-6" align="left" valign="middle">
				              <p class="tabs_content_subtitle"><strong>Nombre de fondo</strong></p>
				              <p class="table_desc">{{fundTitle}}</p>
				            </td>
							    	{{#each funds}}
						    			{{#compare id 'deposit' operator='=='}}
								        <td data-edit-fund-check-content="{{id}}StockCheck" class="table-1 hide-md fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Stock">

								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Stock:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>

													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Stock:</span> {{stock}}</strong></p>
												</td>
								        <td data-edit-fund-check-content="{{id}}FlowCheck" class="table-1 hide-md fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Flujo">

								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Flujo:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>

													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Flujo:</span> {{flow}}</strong></p>
												</td>
											{{/compare}}
							      {{/each}}
						      </tr>
								{{/each}}
					  	</tbody>
					  </table>

						<div class="u-row u-top totalEditFieldsFunds hide-xs">
		          <div class="col-xs-6" data-edit-fund-check-total="depositStockCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
		          <div class="col-xs-6" data-edit-fund-check-total="depositFlowCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
	  				</div>

						<div class="ChangeFundsContinueWrap hide-xs">
							<div class="u-space u-top">
								<a href="" class="button button-primary button-full button-disabled ChangeFundsContinue">Continuar</a>
							</div>
							<a href="" class="f-link changeFundsCancel">Cancelar</a>
						</div>
          </div>
        </li>

        <li class="accordion-item u-top is-active" data-accordion-item>
        	<p class="editFundsTitle text-left u-divider-bottom-primary">
        		<strong>Distribución actual de fondos <br/> Cuenta: Voluntario</strong>
        	</p>
          <a href="#" class="accordion-title black hide-xs">
            <p class="f-big"><strong>Cuenta: Voluntario</strong></p>
          </a>
          <div class="accordion-content" data-tab-content>

						<div class="ChangeFundsContinueWrap hide-xs">
							<div class="u-row u-divider-bottom start-xs middle-xs pd-bottom">
								<div class="col-xs-2">
									<p class="f-small table_title"><strong>Editar:</strong></p>
								</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="voluntaryStockCheck"> % Stock</strong></p>
		  					</div>
		  	        <div class="col-xs-2">
		  						<p class="f-small table_title"><strong><input type="checkbox" data-edit-fund-check="voluntaryFlowCheck"> % Flujo</strong></p>
		  					</div>
	  					</div>
	  				</div>

					  <table class="table-responsive u-striped distributionFundsMobile">
					  	<tbody>

								{{#each solicitar-cambio-fondos-apv.base}}
						      <tr class="hide-md-important">
				            <td class="table-6" align="left" valign="middle">
				              <p class="tabs_content_subtitle"><strong>Nombre de fondo</strong></p>
				              <p class="table_desc">{{fundTitle}}</p>
				            </td>
							    	{{#each funds}}
						    			{{#compare id 'voluntary' operator='=='}}
								        <td data-edit-fund-check-content="{{id}}StockCheck" class="table-1 hide-md fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Stock">

								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Stock:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>

													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Stock:</span> {{stock}}</strong></p>
												</td>
								        <td data-edit-fund-check-content="{{id}}FlowCheck" class="table-1 hide-md fieldsDistributionFunds" align="left" valign="middle" data-table-title="% Flujo">

								        	<div class="u-row middle-xs">
								        		<div class="col-xs-6">
								        			<span class="hide-edit-fields LabelEditFunds"><strong>Flujo:</strong> </span>
								        		</div>
								        		<div class="col-xs-6">
															<input class="hide-edit-fields input__label input__calculate input__label--ichiro" min="0" type="text" placeholder="0" data-change-funds data-edit-funds-normal-value="0" />
														</div>
													</div>

													<p class="table_desc toggl-edit-fields"><strong><span class="hide-md">Flujo:</span> {{flow}}</strong></p>
												</td>
											{{/compare}}
							      {{/each}}
						      </tr>
								{{/each}}
					  	</tbody>
					  </table>

						<div class="u-row u-top totalEditFieldsFunds hide-xs">
		          <div class="col-xs-6" data-edit-fund-check-total="voluntaryStockCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Stock <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
		          <div class="col-xs-6" data-edit-fund-check-total="voluntaryFlowCheck">
		          	<div class="fieldsTotalFundsCol center-xs">
		  						<p class="table_desc f-big f-tiny"><strong>Flujo <span class="fieldsTotalFundsValue">0</span><span class="distributionFundsPercentage">%</span></strong></p>
		  					</div>
		  				</div>
	  				</div>

						<div class="ChangeFundsContinueWrap hide-xs">
							<div class="u-space u-top">
								<a href="" class="button button-primary button-full changeFundsSubmit">Solicitar cambio de fondos</a>
							</div>
							<a href="" class="f-link changeFundsCancel">Cancelar</a>
						</div>
        	</div>
        </li>
			</ul>

		  <!-- / End Mobile tables -->

		  	<div class="col-xs-12 end-xs u-top hide-md">
				<a href="" class="changeFundsEdit button button-small button-full">Editar Distribución de Fondos</a>
			</div>

			<div class="col-xs-12 end-xs u-space hide-xs show-md editFundsSubmit">
				<a href="#" class="u-right-sm u-top-sm col-xs-12 col-sm-3 changeFundsCancel">Cancelar</a>
				<a href="#" class="button button-small button-disabled changeFundsSubmit">Solicitar cambio de Fondos</a>
			</div>

		</div>
	</section>