
<!--===================================
=            Beneficiarios            =
====================================-->
	<div class="tag-beneficiary-container">
{{#each edit-beneficiary.test}}
		<section class="tag-beneficiary">
		  <div class="u-row gutter-xs middle-xs">
		    <div class="col-xs-12 col-md-3">
		      <span class="input input--ichiro">
		        <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="name-{{@index}}" required>
		        <label class="input__label input__label--ichiro" for="name-{{@index}}">
		          <span class="input__label-content input__label-content--ichiro"><strong>Nombre</strong></span>
		        </label>
		        <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		      </span>
		    </div>

		    <div class="col-xs-12 col-md-3">
		      <span class="input input--ichiro">
		        <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="lastNameF-{{@index}}" required>
		        <label class="input__label input__label--ichiro" for="lastNameF-{{@index}}">
		          <span class="input__label-content input__label-content--ichiro"><strong>Apellido Paterno</strong></span>
		        </label>
		        <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		      </span>
		    </div>

		    <div class="col-xs-12 col-md-3">
		      <span class="input input--ichiro">
		        <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="lastNameM-{{@index}}" required>
		        <label class="input__label input__label--ichiro" for="lastNameM-{{@index}}">
		          <span class="input__label-content input__label-content--ichiro"><strong>Apellido Materno</strong></span>
		        </label>
		        <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		      </span>
		    </div>

		    <div class="col-xs-12 col-md-2">
		      <a href="#">Eliminar Beneficiario</a>
		    </div>

		    <div class="col-xs-12 col-md-1">
		      <span class="input input--ichiro">
		        <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="assignement-{{@index}}" required>
		        <label class="input__label input__label--ichiro" for="assignement-{{@index}}">
		          <span class="input__label-content input__label-content--ichiro"><strong>Asignación</strong></span>
		        </label>
		        <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		      </span>
		    </div>
		  </div>

			 <!--===================================
			 =     Desplegable Más información     =
			 ====================================-->
		  <section class="toggleContent no-padding-bottom" data-toggle-content="more-data-beneficiary-{{@index}}">
		    <div class="u-row gutter-xs bottom-xs">
		      <div class="col-xs-12 col-md-3 u-space">
		        <span class="input input--ichiro">
		          <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="rut" required>
		          <label class="input__label input__label--ichiro" for="rut">
		            <span class="input__label-content input__label-content--ichiro"><strong>RUT:</strong></span>
		          </label>
		          <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		        </span>
		      </div>

		      <div class="col-xs-12 col-md-3 u-space">
		        <section class="u-select u-field clientProfileEdit label_select u-select_labels">
		          <p class="title_label_select"><strong>Genero:</strong></p>
		          <select class="cs-select cs-skin-border GeneralSelect items_select_box">
		            <option value="" selected>Masculino</option>
		            <option value="Femenino">Femenino</option>
		          </select>
		        </section>
		      </div>

		      <div class="col-xs-12 col-md-3 u-space">
		        <span class="input input--ichiro">
		          <input class="input__field input__field--ichiro" data-live-validate="true" value="{{value}}" min="5" type="text" id="clientName" required>
		          <label class="input__label input__label--ichiro" for="clientName">
		            <span class="input__label-content input__label-content--ichiro"><strong>Teléfono:</strong></span>
		          </label>
		          <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		        </span>
		      </div>

		      <div class="col-xs-12 col-md-3 u-space">
		        <span class="input input--ichiro">
		          <input class="input__field input__field--ichiro" data-live-validate="true" value="Monseñor Escribá de Balaguer 14.554" type="text" id="email" required>
		          <label class="input__label input__label--ichiro" for="email">
		            <span class="input__label-content input__label-content--ichiro"><strong>Correo electrónico:</strong></span>
		          </label>
		          <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		        </span>
		      </div>
		    </div>

		    <div class="u-row gutter-xs middle-xs">
		      <div class="col-xs-12 col-md-3">
		        <section class="u-select u-field clientProfileEdit label_select u-select_labels u-space">
		          <p class="title_label_select"><strong>Región:</strong></p>
		          <select class="cs-select cs-skin-border GeneralSelect items_select_box">
		            <option value="" selected>Masculino</option>
		            <option value="Femenino">Femenino</option>
		          </select>
		        </section>
		      </div>

		      <div class="col-xs-12 col-md-3">
		        <section class="u-select u-field clientProfileEdit label_select u-select_labels u-space">
		          <p class="title_label_select"><strong>Comuna:</strong></p>
		          <select class="cs-select cs-skin-border GeneralSelect items_select_box">
		            <option value="" selected>Masculino</option>
		            <option value="Femenino">Femenino</option>
		          </select>
		        </section>
		      </div>

		      <div class="col-xs-12 col-md-6">
		        <span class="input input--ichiro">
		          <input class="input__field input__field--ichiro" data-live-validate="true" value="Monseñor Escribá de Balaguer 14.554" type="text" id="clientAddress" required>
		          <label class="input__label input__label--ichiro" for="clientAddress">
		            <span class="input__label-content input__label-content--ichiro"><strong>Dirección:</strong></span>
		          </label>
		          <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		        </span>
		      </div>
		    </div>
		  </section>

		  <div class="col-xs-12">
		    <a href="" class="f-link openContent" data-open-content="more-data-beneficiary-{{@index}}">
		      <span class="openContentText is-open" data-rest-text="Más Información" data-open-text="Menos Información">Más Información</span>
		      <i class="fa fa-angle-down" aria-hidden="true"></i>
		    </a>
		  </div>
		 <!-- Fin desplegable más información -->
		</section>
{{/each}}
	</div>
<!--====  End of Beneficiarios  ====-->


<!--===================================
=         Agregar Beneficiario        =
====================================-->
	<section>
		<div class="u-row">
			<div class="col-xs-12 col-md-6">
				<a href="#">Agregar más información</a>
			</div>

			<div class="col-xs-12 col-md-6 end-xs">
				<p>Asignación 100%</p>
			</div>
		</div>

		<div class="end-xs">
			<a href="#">Cancelar</a>
			<a href="#" class="button button-primary">Solicitar Modificación</a>
		</div>
	</section>
<!--====  End of Beneficiarios  ====-->

