
<section class="client-profile_cards">
	<form action="" data-abide novalidate data-live-validate="true" class="UpdateDataForm">
		<section class="tabs_wrap u-space">
			<div class="client_wrap_container">

				<div class="col-xs-12">
					<div class="alert alert-success u-space hide-state-update ClientProfileMessageSuccess">
						<p>¡Has realizado la modificación de tus datos de contacto de forma exitosa!</p>
            <p>Recuerda que es importante tener tus datos actualizados para comunicarnos contigo.</p>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="alert alert-error u-space hide-state-update ClientProfileMessageCancel">
						<p class="alert_desc">Tus cambios han sido cancelados</p>
					</div>
				</div>

				{{> card-personal-client-profile}}
				{{> card-contact-client-profile}}
				{{> card-other-client-profile}}

			</div>
		</section>
	</form>
</section>
