.tag-beneficiary-container {
  .tag-beneficiary {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top: 1px solid $gray;
    border-left: 8px solid;
  }
}

.tag-beneficiary-container {
  .tag-beneficiary {
    &:nth-child(15n+1) {
      border-left-color: #0A3C6E;
    }
    &:nth-child(15n+2) {
      border-left-color: #E57339;
    }
    &:nth-child(15n+3) {
      border-left-color: #896EB3;
    }
    &:nth-child(15n+4) {
      border-left-color: #348C6F;
    }
    &:nth-child(15n+5) {
      border-left-color: #B0488D;
    }
    &:nth-child(15n+6) {
      border-left-color: #6D232D;
    }
    &:nth-child(15n+7) {
      border-left-color: #1FC2A2;
    }
    &:nth-child(15n+8) {
      border-left-color: #401B74;
    }
    &:nth-child(15n+9) {
      border-left-color: #EFA020;
    }
    &:nth-child(15n+10) {
      border-left-color: #5B749E;
    }
    &:nth-child(15n+11) {
      border-left-color: #CCAF37;
    }
    &:nth-child(15n+12) {
      border-left-color: #3D3B3C;
    }
    &:nth-child(15n+13) {
      border-left-color: #76949C;
    }
    &:nth-child(15n+14) {
      border-left-color: #17571D;
    }
    &:nth-child(15n+15) {
      border-left-color: #58A5B8;
    }
    &:last-of-type {
      border-bottom: 1px solid $gray;
      margin-bottom: 30px;
    }
  }
}

.col-phone {
  position: relative;
  top: 4px;
}

.col-address {
  position: relative;
  bottom: 4px;
}

.col-assignment {
  position: relative;
  bottom: 8px;
}

.editBeneficiaryButton {
  margin-bottom: 15px;
}



@media only screen and ( min-width: 48em ) {

  .editBeneficiaryButton {
    margin-bottom: 0;
  }
}