
	@import './../global/color.scss';

	.tabs {
		border-bottom: 1px solid $primary;
		border: 0;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 10px;
		position: relative;
		white-space: nowrap;
		width: 100%;
		&:before {
			display: none;
		}
	}

	.tabs-content {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 0;
	}
	.tabs_content_subtitle{
		padding: 0;
		margin: 0;
		line-height: 1.2;
	}

	.tabs-panel {
		padding: 2rem 19px;
	}

	.tabs_row {
		padding: 0 1.6rem;
	}

	.tabs_irow-empty {
		min-height: 52px;
	}

	.tabs_irow-empty-multi-line {
		min-height: 78px;
	}

	.tabs-subtitle {
		border-bottom: 2px solid $primary;
		margin-bottom: 1rem;
		padding: 0 0 1rem 0;
	}

	.tabs-subtitle-profile {
		&.single_line {
			margin-top: 0;
		}

		&.double_line {
			margin-top: 90px;
		}
		border-bottom: 2px solid $medium-gray;
		margin-bottom: 1rem;
		padding: 15px 0 10px 0;
	}


	.tab-accordion {
		flex-grow: 1;
		position: relative;
		transition: color 0.3s;
		&:before {
			background-color: $primary;
			bottom: 0;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			transform: scale3d(0, 1, 1);
			transition: transform 0.1s;
			width: 100%;
		}

		h5 {
			font-size: 16px;
			font-weight: 600;
		}

		&.resp-tab-active {
			background-color: yellow;
			font-size: 72px;
			&:before {
				transform: scale3d(1, 1, 1);
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 0.3s;
			}
		}
	}

	.tabs_wrap-pink {
		.tabs-subtitle {
			border-color: $pink;
		}
		.tabs-title	{
			a:before {
				background-color: $pink;
			}
			&.is-active {
				a {
					color: $pink;
				}
			}
		}
	}

	.tabs_wrap-green {
		.tabs-subtitle {
			border-color: $accident;
		}
		.tabs-title {
			&.is-active {
				a {
					color: $accident;
				}
			}
			a:before {
				background-color: $accident;
			}
		}
	}

	.client-profile_row {
		margin-top: 1rem;
	}

	.tab_arrow {
		position: relative;
		i {
			position: absolute;
			top: 0;
			right: 10px;
		}
	}

.box:after {
  background: $primary;
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  left: 0;
  top: 30px;
}


	@media screen and ( min-width: 62em ) {

		.tabs_wrap_container {
			border: 1px solid #bbb;
		}

		.tabs-subtitle-profile {
			&.single_line {
				margin-top: 60px;
			}

			&.double_line {
				margin-top: 90px;
			}
			border-bottom: 2px solid $medium-gray;
			margin-bottom: 1rem;
			padding: 15px 0 10px 0;
		}

		.tab_arrow {
			position: relative;
			i {
				position: absolute;
			}
		}

		.box:after {
		  background: none;
  		position: none;
		}

	}