
	@import './../global/color.scss';

	.tabs {
		border-bottom: 1px solid $primary;
		border: 0;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
		width: 100%;
		&:before {
			display: none;
		}
	}

	.tabs-content {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 0;
	}

	.tabs-panel {
		padding: 1rem 19px;
	}

	.tabs-subtitle {
		border-bottom: 2px solid $primary;
		margin-bottom: 1rem;
		padding: 0 0 1rem 0;
	}

	.tabs-title {
		flex-grow: 1;
		a {
			border-bottom: 4px solid white;
			color: $dark-gray;
			width: 70%;
		}

		h5 {
			font-family: 'Arial', sans-serif;
			font-size: 14px;
			font-weight: 400;

		}

		& > a {
			padding: 20px 1.5rem 16px;
		}

		&.is-active {
			a {
				background-color: white;
				border-bottom: 4px solid $primary;
				color: $primary;			}
		}
	}

	@media screen and ( min-width: 48em ) {
		.tabs_wrap_container {
			background-color: white;
			border: 1px solid $medium-gray;
			padding: 0 10px;
		}
	}