
  .resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 10px;

    &.gutter-a {
      margin: 10px 0 0 30px;
    }

    &.gutter-f {
      margin:10px 0 0 30px;
    }

    &.gutter-b {
      margin: 10px 0 0 30px;
    }

    list-style: none;
    cursor: pointer;
    float: left;
  }

  h2.resp-accordion {
    cursor: pointer;
    display: none;
    background-color: white;
    color: $primary;
  }

  .resp-tab-content {
    display: none;
  }

  h2.resp-accordion {
    font-size: 28px;
    border: 1px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
  }

  /*-----------Vertical tabs-----------*/



  /*-----------Accordion styles-----------*/

  h2.resp-accordion {
    border-top: 1px solid #c1c1c1;/* !important;*/
    margin-top: 1rem;
  }

  @media only screen and (max-width: 62em) {

    ul.resp-tabs-list {
      display: none;
    }

    h2.resp-accordion {
      display: block;
    }

    .resp-vtabs .resp-tab-content {
      border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
    }

    .resp-accordion-closed {
      display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid #c1c1c1 !important;
    }
  }