
  .resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 10px;

    &.gutter-a {
      margin: 10px 0 0 30px;
    }

    &.gutter-f {
      margin:10px 0 0 30px;
    }

    &.gutter-b {
      margin: 10px 0 0 30px;
    }

    list-style: none;
    cursor: pointer;
    float: left;
  }

  h2.resp-accordion {
    cursor: pointer;
    display: none;
    background-color: white;
    color: $primary;
  }

  .resp-tab-content {
    display: none;
  }

  h2.resp-accordion {
    border-top: 1px solid #c1c1c1;/* !important;*/
    border: 1px solid #c1c1c1;
    font-size: 28px;
    margin: 0px;
    margin-top: 1rem;
    padding: 10px 15px;
    position: relative;
    &.resp-tab-active {
      border-bottom: 0;
      &:after {
        background-color: $primary;
        bottom: 0;
        content: "";
        height: 4px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: calc(100% - 30px);
      }
    }
  }

  @media only screen and (max-width: 62em) {

    ul.resp-tabs-list {
      display: none;
    }

    h2.resp-accordion {
      display: block;
    }

    .resp-vtabs .resp-tab-content {
      border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
    }

    .resp-accordion-closed {
      display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid #c1c1c1 !important;
    }
  }

  @media screen and (min-width: 62em) {
    .resp-accordion-closed {
      display: block !important;
    }
  }