
	<section class="u-space">
		<h5 class="tabs-subtitle">Información de Asegurados</h5>

		<div class="u-row gutter-lg">
			<div class="col-xs-12 col-lg-6 start-xs u-space">
				<section class="card card-pink z-depth-2">
					<div class="card_container">
						<section class="card_section">
							<p class="f-big"><strong>Asegurado</strong></p>

							<div class="u-row u-row-xs-full">
								<div class="col-xs-12 col-sm-6 col-xs-full">
									<div class=" u-row u-row-xs-full">
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small"><strong>Nombre del Asegurado:</strong></p>
										</div>
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small">Danilo Esteban Llanos Marquez</p>
										</div>
									</div>
									<div class="tabs_irow u-row u-row-xs-full">
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small" class="tabs_content_subtitle"><strong>Relación:</strong></p>
										</div>
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small">El Mismo</p>
										</div>
									</div>
								</div>

								<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">
									<div class="tabs_irow u-row u-row-xs-full">
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small"><strong>Fecha de Nacimiento:</strong></p>
										</div>
										<div class="tabs_icol col-xs-6 col-xs-full">
											<p class="f-small">10/03/1965</p>
										</div>
									</div>
									<div class="tabs_irow u-row u-row-xs-full">
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small"><strong>Fecha de Inicio de Vigencia:</strong></p>
										</div>
										<div class="tabs_icol col-xs-12 col-xs-full">
											<p class="f-small">10/03/1988</p>
										</div>
									</div>
								</div>
							</div>


							<div class="card_more center-xs end-sm">
								<a href="" class="f-link openContent is-open" data-open-content="openCoverage">
									<span class="openContentText is-open" data-rest-text="Ocultar Coberturas" data-open-text="Ver coberturas f-small">Ocultar Coberturas</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</div>

						</section>

						<section class="card_section u-divider toggleContent is-open" data-toggle-content="openCoverage">
							<p class="f-big"><strong>Coberturas Contratadas</strong></p>
							<ul class="card_table u-row">
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Fractura Accidental de Huesos</strong></p>
									<p class="card_item f-small">Capital Asegurado: UF: 30</p>
									<p class="card_item f-small">Prima: UF 0.83</p>
									<p class="card_item f-small">Deducible UF: 0.08</p>
								</li>
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Incapacidad Permanente Dos Tercios</strong></p>
									<p class="card_item f-small">Capital Asegurado: UF 0.18</p>
									<p class="card_item f-small">Prima: UF 0.83</p>
									<p class="card_item f-small u-space">Deducible: UF 3000</p>
								</li>
								
							</ul>
						</section>
					</div>
				</section>

			</div>

		</div>
	</section>
