
	<h5 class="tabs-subtitle">Información de la Póliza</h5>
	<div class="tabs_row u-row u-row-xs-full">
		<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Número de Póliza:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>0056705543-A</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Contratante:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>Daniel Esteban Llanos Martinez</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Fecha de inicio Vigencia:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>15/09/1995</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Nombre del Asesor:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>Christian Laupheimer</p>
				</div>
			</div>
		</div>

		<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Medio de pago:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>Pago Automático Tarjeta</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Banco:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>Banco de Chile</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Valor Prima Total:</strong></p>
				</div>
				<div cilass="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>UF 2,35 / $55.556</strong></p>
				</div>
			</div>
		</div>
	</div>