
	<section class="u-space">
		<h5 class="tabs-subtitle">Formularios</h5>
		<div class="table-scroll table">
		  <table class="table-responsive u-striped">
		    <thead>
		      <tr>
		        <th class="table-6">
							<p class="table_title"><strong>Nombre</strong></p>
						</th>
		        <th class="table-4">
							<p class="table_title"><strong>Tipo</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Descargar</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>

		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Carta de Anulación</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Revoación Solicitud de Término o de Póliza de Seguro</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Declaración de Siniestro Causa Accidental</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Declaración de Siniestro Causas Naturales</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Formulario Para Cambios en la Distribución de Primas</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Solicitud de Endoso de Póliza</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>



	<section class="u-space">
		<h5 class="tabs-subtitle">Documentos de la Póliza</h5>
		<div class="table-scroll table">
		  <table class="table-responsive u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Nombre</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Tipo</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Descargar</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre">
							<p class="table_desc">
								<a href="#" class="f-link">Contrato Póliza Nº 0056705543-A</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-4" valign="middle" data-table-title="Tipo">
							<p class="table_desc">Documentos</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>