
	<section class="u-space">
		<h5 class="tabs-subtitle">Histórico de Siniestros</h5>

		<div class="u-row gutter-xs">
			<section class="u-select col-xs-12 col-sm-4 u-space">
				<select class="u-select-tag u-skin-border">
					<option value="" disabled selected>Filtrar por Asegurado</option>
					<option value="email">E-Mail</option>
					<option value="twitter">Twitter</option>
					<option value="linkedin">LinkedIn</option>
				</select>
			</section>
			<section class="u-select col-xs-12 col-sm-4 u-space">
				<select class="u-select-tag u-skin-border">
					<option value="" disabled selected>Filtrar por Estado</option>
					<option value="email">E-Mail</option>
					<option value="twitter">Twitter</option>
					<option value="linkedin">LinkedIn</option>
				</select>
			</section>
			<section class="u-select col-xs-12 col-sm-4 u-space">
				<select class="u-select-tag u-skin-border">
					<option value="" disabled selected>Filtrar por Fecha</option>
					<option value="email">E-Mail</option>
					<option value="twitter">Twitter</option>
					<option value="linkedin">LinkedIn</option>
				</select>
			</section>
		</div>

	</section>




	<section class="u-space">
		<div class="table-responsive table-scroll table">
		  <table class="u-striped">
		    <thead>
		      	<tr>
			        <th class="table-4">
								<p class="table_title"><strong>Nombre del Asegurado</strong></p>
							</th>
					    <th class="table-2">
								<p class="table_title"><strong>Fecha de Modificación</strong></p>
							</th>
					    <th class="table-2">
								<p class="table_title"><strong>ID del Siniestro</strong></p>
							</th>
							<th class="table-2">
								<p class="table_title"><strong>Estado Solicitud</strong></p>
							</th>
					    <th class="table-2">
								<p class="table_title"><strong>Estado Solicitud</strong></p>
							</th>
		      	</tr>
		    </thead>
		    <tbody>
		      	<tr>
		        	<td class="table-4" valign="middle" data-table-title="Nombre del Asegurado">
						<p class="table_desc">Febrero 2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Fecha de Modificación">
						<p class="table_desc">05/02/2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="ID del Siniestro">
						<p class="table_desc">13324435355</p>
					</td>
					<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc"><a href="#">444534443</a></p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc">Aprobado</p>
					</td>
		      	</tr>
		      	<tr>
		        	<td class="table-4" valign="middle" data-table-title="Nombre del Asegurado">
						<p class="table_desc">Febrero 2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Fecha de Modificación">
						<p class="table_desc">05/02/2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="ID del Siniestro">
						<p class="table_desc">13324435355</p>
					</td>
					<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc"><a href="#">444534443</a></p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc">Aprobado</p>
					</td>
		      	</tr>
		      	<tr>
		        	<td class="table-4" valign="middle" data-table-title="Nombre del Asegurado">
						<p class="table_desc">Febrero 2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Fecha de Modificación">
						<p class="table_desc">05/02/2017</p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="ID del Siniestro">
						<p class="table_desc">13324435355</p>
					</td>
					<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc"><a href="#">444534443</a></p>
					</td>
		        	<td class="table-2" valign="middle" data-table-title="Estado Solicitud">
						<p class="table_desc">Aprobado</p>
					</td>
		      	</tr>

		    </tbody>
		  </table>
		</div>

		<section class="pagination">
			<div class="u-row u-row-xs-full center-xs">
				<div class="pagination_new">
					<button class="button button-transparent">Nuevos</button>
				</div>
				<div class="pagination_numbers u-row u-row-xs-full middle-xs">
					<div class="pagination_numbers_item pagination-active">
						<a href="" class="f-link">1</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">2</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">3</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">4</a>
					</div>
					<div class="pagination_numbers_dots">
						<span>...</span>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">16</a>
					</div>
				</div>
				<div class="pagination_old">
					<button class="button button-transparent">Anteriores</button>
				</div>
			</div>
		</section>

	</section>