
	<div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
		<div class="off-canvas_heading">
		  <button class="off-canvas_close" aria-label="Close menu" type="button" data-close>
		    <span aria-hidden="true">
		    	<i class="fa fa-times" aria-hidden="true"></i>
		    </span>
		  </button>
		  <figure class="sub-nav_image center-xs u-space">
				<a href="/">
					<img src="assets/img/logo.png" alt="Logotipo" width="150">
				</a>
			</figure>
			<h6 class="center-xs u-space">Bienvenido Daniel Llanos</h6>

			<ul class="off-canvas_heading_menu center-xs">
			  <li class="u-space">
			  	<a href="#"><strong>Mi cuenta</strong></a>
			  </li>
			  <li class="u-space">
			  	<a href="#"><strong>Ayuda</strong></a>
			  </li>
			</ul>
		</div>

	  <ul class="off-canvas_menu">
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="#">Mis Productos</a>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="#">Centro de Pagos</a>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="#">Ahorro e Inversión</a>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="#">Pago de Beneficios</a>
	    </li>
	    <li class="off-canvas_menu_item u-divider">
	    	<a href="#">Formularios y Documentos</a>
	    </li>
	  </ul>
	</div>