
	<div class="single-nav_sticky" data-sticky-container>
		<div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
			<nav class="single-nav">
				<div class="u-container">
					<div class="row">
						<div class="small-12 columns">
							<a href="/" class="single-nav_link">
								<figure class="single-nav_logo text-center">
									<img src="{{root}}assets/img/logo.png" alt="Logotipo Metlife" width="170px" />
								</figure>
							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>