
	<div class="u-row gutter-xs">
		<div class="col-xs-12 col-sm-6 col-md-3">
		  <div class="clientProfileInitialData u-space">
		    <p class="line_jump"><strong>Banco:</strong></p>
		    <p class="line_jump">Banco Chile</p>
		  </div>

		  <section class="u-select u-field clientProfileEdit hide-state-update label_select u-select_labels u-space">
		    <p class="title_label_select"><strong>Banco:</strong></p>
		    <select class="cs-select cs-skin-border GeneralSelect items_select_box">
		      <option value="" selected>Banco Chile</option>
		      <option value="banck">Banco-2</option>
		    </select>
		  </section>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
		  <div class="clientProfileInitialData u-space">
		    <p class="line_jump"><strong>Tipo de cuenta:</strong></p>
		    <p class="line_jump">cuenta</p>
		  </div>

		  <section class="u-select u-field clientProfileEdit hide-state-update label_select u-select_labels u-space">
		    <p class="title_label_select"><strong>Tipo de cuenta:</strong></p>
		    <select class="cs-select cs-skin-border GeneralSelect items_select_box">
		      <option value="" selected>Cuenta-1</option>
		      <option value="banck">Cuenta-2</option>
		    </select>
		  </section>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">				  
		  <section class="u-field u-space clientProfileEdit hide-state-update">
		    <span class="input input--ichiro">
		      <input class="input__field input__field--ichiro" data-live-validate="true" value="Daniel Esteban" min="0" type="number" id="clientName" required>
		      <label class="input__label input__label--ichiro" for="clientName">
		        <span class="input__label-content input__label-content--ichiro"><strong>Número de Cuenta:</strong></span>
		      </label>
		      <p class="form-error f-tiny line_jump">Este campo es requerido.</p>
		    </span>
		  </section>
		</div>

		<div class="col-xs-12 col-md-3 u-space-md end-md updateDataRefund">
			<a class="button button-small button-full-xs clientProfileUpdateData">Cambiar Cuenta</a>
		</div>
	</div>

	<div class="col-xs-12 col-md-4 mg-0-auto">
	  <div class="alert alert-warning u-space hide-state-update ClientProfileMessageCancel">
	    <p class="alert_desc">Tus cambios han sido cancelados</p>
	    <i class="fa fa-times alert-close"></i>
	  </div>
	</div>		

	<div class="u-row clientProfileEdit hide-state-update u-space">
	  <div class="col-xs-12 legal-message">
	    <p class="f-legal"><input type="checkbox" name="personaldata" class="AcceptLegal" /><strong> Tratamiento de Datos Personales:</strong> Para efectos de la Ley N° 19.628, autorizo expresamente a MetLife para que haga tratamiento, almacene, transmita y comunique mis datos personales y la información que he proporcionado voluntariamente, a su matriz, filiales, empresas relacionadas del Grupo Empresarial al que pertenece y terceros prestadores de servicios, ubicados dentro o fuera de Chile, a fin de que MetLife y dichas entidades i) me contacten y pongan a mi disposición, información y oferta de sus productos y servicios; ii) almacenen y traten mi información personal; y iii) hagan efectivos los convenios asociados a los seguros que he contratado.</p>
	  </div>
	</div>

	<div class="u-row middle-xs center-xs end-sm u-space">
	  <a data-close aria-label="Close modal" class="u-right-sm u-top-sm col-xs-12 col-sm-3 hide-state-update clientProfileCancelUpdateData">Cancelar</a>
	  <button type="submit" class="button button-small button-disabled AcceptLegalSubmit hide-state-update clientProfileSaveUpdateData updateChangeSave">Guardar cambios</button>
	</div>

	<!-- Mensajes de Continuar sms -->
	<div class="col-xs-12 col-md-4 mg-0-auto">
	  <div class="alert alert-success u-space hide-xs codeConfirmationSuccess">
	    <p class="center-xs">¡Operación exitosa!</p>
	    <i class="fa fa-times alert-close"></i>
	  </div>
	</div>
	<!-- /Mensajes de Continuar sms -->

	<!-- Codigo de confirmación sms -->
	<div class="smsCodeConfirmation hide-xs u-space u-row top-xs">
	  <div class="col-xs-12 center-xs" data-toggle-match="PayButtonStep3" data-switch="show">
	    <h5>Código de confirmación</h5>
	    <p class="f-small">Para tu seguridad, esta operación requiere un código de confirmación, el cual será enviado a tu celular</p>
	    <p class="u-space">Teléfono de contacto: <span class="ConfirmationSmsPhone" data-select="phoneStep1"></span></p>
	    <div class="col-xs-12 center-xs" data-toggle-match="SendSMSWrap" data-switch="show">
	      <a href="#" class="button button--large SendSMS">Enviar SMS</a>
	    </div>

	    <div class="account-refund-code-confirmation" data-toggle-match="SendSMSWrap" data-switch="hide">
	      <span class="input input--ichiro input__label--ichiro-white col-xs-12 col-md-4 u-space-small">
	        <input class="input__field input__field--ichiro smsCode" data-live-validate="true" type="text" id="confirmationSendSms" required="" data-select="codeStep3">
	        <label class="input__label input__label--ichiro" for="confirmationSendSms">
	          <span class="input__label-content input__label-content--ichiro ">Escribe tu código aquí</span>
	        </label>
	      </span>

	      <div class="u-row send_sms_row middle-xs center-xs">
	        <div class="col-xs-12 col-md-2 send_sms_col">
	          <p class="center-xs start-md"><a href="" class="f-link SendSMSCancel">Cancelar</a></p>
	        </div>
	        <div class="col-xs-12 col-md-2 start-xs send_sms_col">
	          <a href="" class="button button-full buttonContinue button-disabled codeConfirmationContinue">Continuar</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
