<div class="u-row gutter-xs">
  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container  z-depth-2">
        <h4 class="u-space">¿Qué hacer en caso de siniestros?</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Modalidad de pago para productos hipotecarios</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Contactar al servicio al cliente</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container  z-depth-2">
        <h4 class="u-space">Preguntas Frecuentes</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Guía de Navegación</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Glosario</h4>

        <p class="u-space f-small">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>

        <button class="button button-primary">Ver más</button>
      </div>
    </div>
  </div>
</div>
