<div class="u-row gutter-xs">
  <div class="col-xs-12 u-space">
    <div class="card_help center-xs">
      <div class="card_container  z-depth-2">
        <h4 class="u-space">Contáctanos</h4>

        <p class="u-space f-small">Cuéntanos tus dudas acerca de tus productos y las resolveremos prontamente.</p>

        <button class="button button-primary">Contáctanos</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container  z-depth-2">
        <h4 class="u-space">¿Qué presentar en caso de siniestro?</h4>

        <p class="u-space f-small">Revisa los documentos que debes presentar para denunciar un siniestro asociado a tu seguro.</p>

        <button class="button button-primary">Ver Documentos</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Medios de Pago para mi Hipotecario</h4>

        <p class="u-space f-small">Conoce los distintos medios de pago para tu dividendo.</p>

        <button class="button button-primary">Ver medios de pago</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Formularios</h4>

        <p class="u-space f-small">Descarga los formularios que puedes necesitar para trámites en sucursal.</p>

        <button class="button button-primary">Ver Formularios</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container  z-depth-2">
        <h4 class="u-space">Preguntas Frecuentes</h4>

        <p class="u-space f-small">¿Tienes alguna duda? Alguien pudo tener esa misma duda antes. Revisa las respuestas a las preguntas más frecuentes.</p>

        <button class="button button-primary">Ver respuestas</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">¿Cómo navegar en mi Portal de Cliente?</h4>

        <p class="u-space f-small">Encuentra todo lo que necesitas para ver información de tu producto y realizar trámites vía web en tu Portal de Cliente.</p>

        <button class="button button-primary">Ver guía</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 u-space">
    <div class="card_help center-xs">
      <div class="card_container z-depth-2">
        <h4 class="u-space">Glosario</h4>

        <p class="u-space f-small">Queremos hablar en tu mismo idioma, por eso te explicamos desde la A a la Z todos esos términos que no entiendes.</p>

        <button class="button button-primary">Ver Glosario</button>
      </div>
    </div>
  </div>
</div>
