    <div class="u-row gutter-xs u-space">

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container  z-depth-2">
            <h4 class="u-space">¿Qué Hacer en Caso de un Siniestro?</h4>

            <p class="u-space f-small">Revisa qué documentos debes presentar y cuáles son los plazos para denunciar un siniestro.</p><br>

            <a href="{{root}}ayuda/siniestros/siniestros.html" class="button button-small">Ver Documentos</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container z-depth-2">
            <h4 class="u-space">Medios de Pago para mi Hipotecario</h4>

            <p class="u-space f-small">Conoce los distintos medios de pago para tu dividendo.</p><br>

            <a href="{{root}}ayuda/modalidad-pagos-productos-hipotecarios/modalidad-pagos-productos-hipotecarios.html" class="button button-small">Ver Medios de Pago</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container z-depth-2">
            <h4 class="u-space">¿Cómo Navegar en mi Portal de Clientes?</h4>

            <p class="u-space f-small">Encuentra todo lo que necesitas para ver información de tu producto y realizar trámites vía web en tu Portal de Cliente.</p>

                <button class="button button-small" data-open="how-to-navigate">Ver Guía</button>
             

<div class="reveal small" id="how-to-navigate" data-reveal>
  <h2 class="u-top-big u-space text-center">Como navegar en sección clientes</h2>

  <div class="u-row gutter-xs">
    <div class="col-xs-12">
      <div class="responsive-embed">
        <iframe src="https://www.youtube.com/embed/SjYw_LaJxfA?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <p class="f-small text-center u-space">Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</p>
  <p class="f-small text-center u-space-2x">Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui.</p>

  <div class="u-row middle-xs u-space-2x">
    <div class="col-xs-6 end-xs u-right">
      <button class="button button-link">Volver</button>
    </div>
    <div class="col-xs-6">
      <button class="button button-primary">Siguiente</button>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container  z-depth-2">
            <h4 class="u-space">Formularios</h4>
            <p class="u-space f-small">Descarga los formularios que puedes necesitar para trámites en sucursal.</p><br>

            <a href="{{root}}formularios-documentos/formularios-documentos.html" class="button button-small">Ver formularios</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container z-depth-2">

            <h4 class="u-space">Preguntas Frecuentes</h4>

            <p class="u-space f-small">¿Tienes alguna duda? Alguien pudo tener esa misma duda antes. Revisa las respuestas a las preguntas más frecuentes.</p>

            <a href="{{root}}ayuda/faq/faq.html" class="button button-small">Ver respuestas</a>
          </div>
        </div>
      </div>

       <div class="col-xs-12 col-sm-6 col-md-4 u-space">
        <div class="card_help center-xs">
          <div class="card_container z-depth-2">
            <h4 class="u-space">Glosario</h4>

            <p class="u-space f-small">Queremos hablar en tu mismo idioma, por eso te explicamos desde la A a la Z todos esos términos que no entiendes.</p>

            <a href="{{root}}ayuda/glosario/glosario.html" class="button button-small">Ver Glosario</a>
          </div>
        </div>
      </div>
    </div>
    <div class="u-row z-depth-2 u-space">
      <div class="products_col col-xs-12 col-sm-3">
        <figure>
          <img src="{{root}}assets/img/contactanos_img.png" data-fit-type class="objFit products_img">
        </figure>
      </div>

      <div class="u-row products_col col-xs-12 col-sm-9 card_container card_container--blue middle-xs">
        <div class="col-sm-8">
          <h4 class="white">Contáctanos</h4>
          <p class="f-small u-top white">Cuéntanos tus dudas acerca de tus productos y las resolveremos prontamente.</p>
        </div>

        <div class="col-sm-4 col-xs-12 end-xs u-space-xs">
          <a href="{{root}}ayuda/contacto/contacto.html" class="button button-small button-green button-full-xs">Contáctanos</a>
        </div>
      </div>
    </div>
