
	<section class="pagination u-top">
		<div class="u-row u-row-xs-full center-xs">
			<div class="pagination_new">
				<button class="button button-small button-transparent"><i class="fa fa-angle-double-left"></i></button> 
			</div>
			<div class="pagination_new">
				<button class="button button-small button-transparent"><i class="fa fa-angle-left"></i></button>
			</div>

			<div class="pagination_numbers u-row u-row-xs-full middle-xs">
				<div class="pagination_numbers_item pagination-active">
					<a href="">1</a>
				</div>
				<div class="pagination_numbers_item">
					<a href="">2</a>
				</div>
				<div class="pagination_numbers_item">
					<a href="">3</a>
				</div>
				<div class="pagination_numbers_item">
					<a href="">4</a>
				</div>
				<div class="pagination_numbers_dots">
					<span>...</span>
				</div>
				<div class="pagination_numbers_item">
					<a href="">16</a>
				</div>
			</div>

			<div class="pagination_old">
				<button class="button button-small button-transparent"><i class="fa fa-angle-right"></i></button>
			</div>
			<div class="pagination_old">
				<button class="button button-small button-transparent"><i class="fa fa-angle-double-right"></i></button>
			</div>
		</div>
	</section>