
	<section class="u-space">
		<h3 class="tabs-subtitle">Formularios</h3>
		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Nombre</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Tipo</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Descargar</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Solicitud de Rescates Parcial o Retiro de Cuenta de Cap...</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Carta de Anulación</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Revoación Solicitud de Término o de Póliza de Seguro</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Declaración de Siniestro Causa Accidental</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Declaración de Siniestro Causas Naturales</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Formulario Para Aportes y Cambios Sobre Valores de...</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Formulario Para Cambios en la Distribución de Primas</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Solicitud de Endoso de Póliza</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Formularios</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>



	<section class="u-space">
		<h3 class="tabs-subtitle">Documentos de la Póliza</h3>
		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Nombre</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Tipo</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Descargar</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-8" valign="middle">
							<p class="table_desc">
								<a href="#" class="f-link">Contrato Póliza Nº 0056705543-A</a>
							</p>
							<p class="table_desc f-small">Pdf / 35kb</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">Documentos</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">
								<a href="#" class="button button-primary button-full button-small">Descargar</a>
							</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>