
	<section class="u-space">
		<h5 class="tabs-subtitle">Saldos</h5>
		<p class="f-big center-xs u-space"><strong>Saldo Total:</strong> $5.435.678.-</p>

		<div class="tabs_row u-row u-row-xs-full u-space">
			<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo al 20/02/2017:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p>$3.435.678.-</p>
					</div>
				</div>

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Valor de Póliza a la Fecha:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p>%5.435.678.-</p>
					</div>
				</div>

			</div>

			<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo Régimen:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p>Regimen A.</p>
					</div>
				</div>

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo Bonificación Fiscal:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-6 col-xs-full">
						<p>$ 445.554.-</p>
					</div>
				</div>

			</div>

		</div>

	</section>

	<section class="u-space">

		<h5 class="tabs-subtitle">Distribución Alternativas de Inversión</h5>
		<div class="u-row u-row-xs-full middle-xs">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<canvas id="chartInvestment" width="400" height="400"></canvas>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8">

				<div class="table-scroll table">
				  <table class="u-striped">
				    <thead>
				      <tr>
				        <th></th>
				        <th>
									<p class="table_title"><strong>Nombre de Fondo</strong></p>
								</th>
				        <th>
									<p class="table_title"><strong>% de Distribución</strong></p>
								</th>
				      </tr>
				    </thead>
				    <tbody id="chartInvestmentTable">
				    	<!-- Template from chart.js -->
				    </tbody>
				  </table>
				</div>
			</div>
		</div>

	</section>


	<section class="u-space">
		<h5 class="tabs-subtitle">Detalle Alternativas de Inversión</h5>
		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Nombre del Fondo</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Cuota Actual</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Saldo en Cuotas</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Saldo en Pesos</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-6" valign="middle">
							<p class="table_desc">Fondo Mutuo Santander Global Emergente Serie Universal</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 276.750</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">45</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle">
							<p class="table_desc">Tasa Fija Garantizada en U.F.</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 170.000</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">65</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle">
							<p class="table_desc">Nombre del Fondo de Inversión con un nombre extremadamente largo</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 233.255</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">36</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>



	<section class="u-space">
		<h5 class="tabs-subtitle">Rescates Parciales</h5>
		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Fecha de Solicitud del Rescate</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Monto del Rescate</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Fecha de Pago del Rescate</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-5" valign="middle">
							<p class="table_desc">Febrero 2017</p>
						</td>
		        <td class="table-5" valign="middle">
							<p class="table_desc">UF 75 / $ 1.650.000.-</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">22/02/2017</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-5" valign="middle">
							<p class="table_desc">Abril 2015</p>
						</td>
		        <td class="table-5" valign="middle">
							<p class="table_desc">UF 75 / $ 1.650.000.-</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">22/04/2015</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-5" valign="middle">
							<p class="table_desc">Diciembre 2012</p>
						</td>
		        <td class="table-5" valign="middle">
							<p class="table_desc">UF 50 / $ 1.250.000.-</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">22/02/2017</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>