
	<section class="u-space">
		<h5 class="tabs-subtitle">Cupón de pago</h5>

		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Fecha vencimiento</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Total a Pagar</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Cupón de Pago</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-4" valign="middle">
							<p class="table_desc">05/03/2017</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">UF 1,32 / <strong>$35.540</strong></p>
						</td>
		        <td class="table-4" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cupón de pago</a>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</section>




	<section class="u-space">
		<h5 class="tabs-subtitle">Histórico de Pagos</h5>

		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Período de Cobertura</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Fecha de Pago</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Forma de Pago</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Monto Pagado UF/$</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Febrero 2017</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/02/2017</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Enero 2017</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/01/2017</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Diciembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/12/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Noviembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/11/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Octubre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/10/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Septiembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/09/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Agosto 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/08/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Julio 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/07/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Junio 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/06/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-3" valign="middle">
							<p class="table_desc">Mayo 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<p class="table_desc">05/05/2016</p>
						</td>
		        <td class="table-4" valign="middle">
							<p class="table_desc">PAC</p>
						</td>
		        <td class="table-2" valign="middle">
							<p class="table_desc">UF 2,35 / $55.556</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>

		<section class="pagination">
			<div class="u-row u-row-xs-full center-xs">
				<div class="pagination_new">
					<button class="button button-transparent">Nuevos</button>
				</div>
				<div class="pagination_numbers u-row u-row-xs-full middle-xs">
					<div class="pagination_numbers_item pagination-active">
						<a href="" class="f-link">1</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">2</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">3</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">4</a>
					</div>
					<div class="pagination_numbers_dots">
						<span>...</span>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">16</a>
					</div>
				</div>
				<div class="pagination_old">
					<button class="button button-transparent">Anteriores</button>
				</div>
			</div>
		</section>

	</section>