
	<section class="u-space">
		<h5 class="tabs-subtitle">Saldos</h5>
		<div class="tabs_row u-row u-row-xs-full u-space">
			<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo Total al 28/09/2017:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p>$ 5.435.678 / UF 312-</p>
					</div>
				</div>

			</div>

			<div class="tabs_col col-xs-12 col-sm-6 col-xs-full">

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo Régimen A:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p>$ 3.245.554 / UF 153</p>
					</div>
				</div>

				<div class="tabs_irow u-row u-row-xs-full">
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p class="tabs_content_subtitle"><strong>Saldo Régimen B:</strong></p>
					</div>
					<div class="tabs_icol col-xs-12 col-sm-12 col-xs-full">
						<p>$ 445.554 / UF 23-</p>
					</div>
				</div>

			</div>

		</div>

	</section>

	<section class="u-space">

		<h5 class="tabs-subtitle">Distribución Alternativas de Inversión</h5>
		<div class="u-row u-row-xs-full middle-xs">
			<div class="chartCanvasMain hide-xs show-md col-xs-12 col-sm-6 col-md-4">
				<canvas id="chartInvestment" class="chartCanvas" width="400" height="400"></canvas>
				<div class="chartCanvasContent u-row middle-xs center-xs"><h3>100%</h3></div>
			</div>
			<div class="col-xs-12 col-md-8">

				<div class="table-scroll table">
				  <table class="u-striped">
				    <thead>
				      <tr>
				        <th></th>
				        <th>
									<p class="table_title"><strong>Nombre de Fondo</strong></p>
								</th>
				        <th>
									<p class="table_title"><strong>% de Distribución</strong></p>
								</th>
				      </tr>
				    </thead>
				    <tbody id="chartInvestmentTable">
				    	<!-- Template from chart.js -->
				    </tbody>
				  </table>
				</div>
			</div>
		</div>

	</section>


	<section class="u-space">
		<h5 class="tabs-subtitle">Detalle Alternativas de Inversión</h5>
		<div class="u-row center-xs u-space">
			<div class="col-sm-4">
				<section class="u-select">
					<select class="u-select-tag u-skin-border">
						<option value="" disabled selected>Selecciona un período de actualización</option>
						<option value="email">E-Mail</option>
						<option value="twitter">Twitter</option>
						<option value="linkedin">LinkedIn</option>
					</select>
				</section>
			</div>
		</div>
		<div class="table-scroll table">
			<h6>APV</h6>
		  <table class="table-responsive u-striped u-space">
		    <thead>
		      <tr>
		        <th class="table-6">
							<p class="table_title"><strong>Nombre del Fondo</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Valor Cuota Actual</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Nº de Cuotas</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Saldo en Pesos</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Fondo Mutuo Santander Global Emergente Serie Universal</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 276.750</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">45</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Tasa Fija Garantizada en U.F.</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 170.000</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">65</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Nombre del Fondo de Inversión con un nombre extremadamente largo</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 233.255</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">36</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		  <h6>Depósito Convenido</h6>
		  <table class="table-responsive u-striped u-space">

		    <thead>
		      <tr>
		        <th class="table-6">
							<p class="table_title"><strong>Nombre del Fondo</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Valor Cuota Actual</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Nº de Cuotas</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Saldo en Pesos</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Fondo Mutuo Santander Global Emergente Serie Universal</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 276.750</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">45</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Tasa Fija Garantizada en U.F.</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 170.000</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">65</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Nombre del Fondo de Inversión con un nombre extremadamente largo</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 233.255</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">36</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		  <h6>Bonificación Cargo Fiscal</h6>
		  <table class="table-responsive u-striped u-space">

		    <thead>
		      <tr>
		        <th class="table-6">
							<p class="table_title"><strong>Nombre del Fondo</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Valor Cuota Actual</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Nº de Cuotas</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Saldo en Pesos</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Fondo Mutuo Santander Global Emergente Serie Universal</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 276.750</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">45</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Tasa Fija Garantizada en U.F.</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 170.000</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">65</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-6" valign="middle" data-table-title="Nombre del Fondo">
							<p class="table_desc">Nombre del Fondo de Inversión con un nombre extremadamente largo</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Cuota Actual">
							<p class="table_desc">$ 233.255</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Cuotas">
							<p class="table_desc">36</p>
						</td>
		        <td class="table-2" valign="middle" data-table-title="Saldo en Pesos">
							<p class="table_desc">$ 12.448.980</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>



	<section class="u-space">
		<h5 class="tabs-subtitle">Rescates Parciales</h5>
		<div class="table-scroll table center-xs">
		  <table class="table-responsive u-striped">
		    <thead>
		      <tr>
		        <th class="table-5">
							<p class="table_title"><strong>Fecha Solicitud Rescate</strong></p>
						</th>
		        <th class="table-5">
							<p class="table_title"><strong>Monto  Rescate</strong></p>
						</th>
		        <th class="table-2">
							<p class="table_title"><strong>Fecha Pago Rescate</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-5" align="left" valign="middle" data-table-title="Fecha Solicitud Rescate">
							<p class="table_desc">21/02/2017</p>
						</td>
		        <td class="table-5" align="left" valign="middle" data-table-title="Monto Rescate">
							<p class="table_desc">$ 1.650.000 / UF 75.-</p>
						</td>
		        <td class="table-2" align="left" valign="middle" data-table-title="Fecha Pago Rescate">
							<p class="table_desc">22/02/2017</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-5" align="left" valign="middle" data-table-title="Fecha Solicitud Rescate">
							<p class="table_desc">19/04/2015</p>
						</td>
		        <td class="table-5" align="left" valign="middle" data-table-title="Monto Rescate">
							<p class="table_desc">$ 1.650.000 / UF 75</p>
						</td>
		        <td class="table-2" align="left" valign="middle" data-table-title="Fecha Pago Rescate">
							<p class="table_desc">22/04/2015</p>
						</td>
		      </tr>
		      <tr>
		        <td class="table-5" align="left" valign="middle" data-table-title="Fecha Solicitud Rescate">
							<p class="table_desc">24/12/2012</p>
						</td>
		        <td class="table-5" align="left" valign="middle" data-table-title="Monto Rescate">
							<p class="table_desc">$ 1.650.000 / UF 50</p>
						</td>
		        <td class="table-2" align="left" valign="middle" data-table-title="Fecha Pago Rescate">
							<p class="table_desc">22/02/2017</p>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</section>