
	<section class="u-space">
		<h5 class="tabs-subtitle">Cartolas Históricas</h5>
		<div class="u-row center-xs">
			<div class="col-sm-4">
				<section class="u-select">
					<select class="u-select-tag u-skin-border">
						<option value="" disabled selected>Selecciona un período de tiempo</option>
						<option value="email">E-Mail</option>
						<option value="twitter">Twitter</option>
						<option value="linkedin">LinkedIn</option>
					</select>
				</section>
			</div>
		</div>
	</section>




	<section class="u-space">
		<div class="table-scroll table">
		  <table class="u-striped">
		    <thead>
		      <tr>
		        <th>
							<p class="table_title"><strong>Período</strong></p>
						</th>
		        <th>
							<p class="table_title"><strong>Fecha de Pago</strong></p>
						</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Febrero 2017</p>
						</td>
		        <td class="table-2" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Enero 2017</p>
						</td>
		        <td class="table-2" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Diciembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Noviembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Octubre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Septiembre 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Agosto 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Julio 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Junio 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		      <tr>
		        <td class="table-4" align="left" valign="middle">
							<p class="table_desc">Mayo 2016</p>
						</td>
		        <td class="table-3" valign="middle">
							<a href="#" class="button button-primary button-full button-small">Descargar cartola</a>
						</td>
		      </tr>
		    </tbody>
		  </table>
		</div>

		<section class="pagination">
			<div class="u-row u-row-xs-full center-xs">
				<div class="pagination_new">
					<button class="button button-transparent">Nuevos</button>
				</div>
				<div class="pagination_numbers u-row u-row-xs-full middle-xs">
					<div class="pagination_numbers_item pagination-active">
						<a href="" class="f-link">1</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">2</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">3</a>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">4</a>
					</div>
					<div class="pagination_numbers_dots">
						<span>...</span>
					</div>
					<div class="pagination_numbers_item">
						<a href="" class="f-link">16</a>
					</div>
				</div>
				<div class="pagination_old">
					<button class="button button-transparent">Anteriores</button>
				</div>
			</div>
		</section>

	</section>