
	<section class="u-space">
		<h5 class="tabs-subtitle">Información de Asegurados</h5>

		<div class="u-row gutter-lg">
			<div class="col-xs-12 col-sm-6  start-xs u-space">
				<section class="card card-blue z-depth-2">
					<div class="card_container">
						<section class="card_section">

							<p class="f-big"><strong>Asegurado</strong></p>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Nombre del Asegurado:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">Danilo Esteban Llanos Marquez</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Relación:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">El Mismo</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Fecha de Nacimiento:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">10/03/1965</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Fecha de Inicio de Vigencia:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">10/03/2005</p>
								</div>
							</div>

							<div class="card_more center-xs end-sm">
								<a href="" class="f-link openContent is-open" data-open-content="openCoverage">
									<span class="openContentText is-open" data-rest-text="Ocultar Coberturas" data-open-text="Ver coberturas">Ocultar Coberturas</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</div>

						</section>

						<section class="card_section u-divider toggleContent is-open" data-toggle-content="openCoverage">
							<p class="f-big"><strong>Coberturas Contratadas</strong></p>
							<ul class="card_table u-row">
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Fractura Accidental de Huesos:</strong></p>
									<p class="card_item f-small u-space">Capital Asegurado: UF: 30</p>
									<p class="card_item f-small">Prima: UF: 0.83</p>
									<p class="card_item f-small">Deducible: UF: 0.08</p>
								</li>
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Incapacidad Permanente Dos Tercios:</strong></p>
									<p class="card_item f-small">Capital Asegurado: UF: 0.18</p>
									<p class="card_item f-small">Prima: UF: 0.83</p>
									<p class="card_item f-small u-space">Deducible: UF: 3000</p>
								</li>
							</ul>
						</section>
					</div>
				</section>

			</div>

			<div class="col-xs-12 col-sm-6  start-xs u-space">
				<section class="card card-blue z-depth-2">
					<div class="card_container">
						<section class="card_section">

							<p class="f-big"><strong>Asegurado</strong></p>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Nombre del Asegurado:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">Danilo Esteban Llanos Marquez</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Relación:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">El Mismo</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Fecha de Nacimiento:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">10/03/1965</p>
								</div>
							</div>

							<div class="u-row u-row-xs-full middle-xs">
								<div class="col-xs-6 col-xs-full">
									<p class="f-small"><strong>Fecha de Inicio de Vigencia:</strong></p>
								</div>
								<div class="col-xs-6 col-xs-full">
									<p class="f-small">10/03/2005</p>
								</div>
							</div>

							<div class="card_more center-xs end-sm">
								<a href="" class="f-link openContent is-open" data-open-content="openContract">
									<span class="openContentText is-open" data-rest-text="Ocultar Coberturas" data-open-text="Ver coberturas">Ocultar Coberturas</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</div>

						</section>

						<section class="card_section u-divider toggleContent is-open" data-toggle-content="openContract">
							<p class="f-big"><strong>Coberturas Contratadas</strong></p>
							<ul class="card_table u-row">
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Fractura Accidental de Huesos:</strong></p>
									<p class="card_item f-small u-space">Capital Asegurado: UF: 30</p>
									<p class="card_item f-small">Prima: UF: 0.83</p>
									<p class="card_item f-small">Deducible: UF: 0.08</p>
								</li>
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item f-small"><strong>Incapacidad Permanente Dos Tercios:</strong></p>
									<p class="card_item f-small">Capital Asegurado: UF: 0.18</p>
									<p class="card_item f-small">Prima: UF: 0.83</p>
									<p class="card_item f-small u-space">Deducible: UF: 3000</p>
								</li>
							</ul>

						</section>
					</div>
				</section>

			</div>
		</div>
	</section>


	<section class="u-space">

		<h5 class="tabs-subtitle">Información de Beneficiarios</h5>
		<div class="u-row u-row-xs-full middle-xs">
			<div class="chartCanvasMain hide-xs show-md col-xs-12 col-md-4">
				<canvas id="chartBeneficiaries" class="chartCanvas" width="200" height="200"></canvas>
				<div class="chartCanvasContent u-row middle-xs center-xs"><h3>100%</h3></div>
			</div>
			<div class="col-xs-12 col-md-8">

				<div class="table-scroll table">
				  <table class="u-striped">
				    <thead>
				      <tr>
				        <th></th>
				        <th>
									<p class="table_title"><strong>Nombre Beneficiario</strong></p>
								</th>
				        <th>
									<p class="table_title"><strong>Asignación</strong></p>
								</th>
				      </tr>
				    </thead>
				    <tbody id="chartTable">
				    	<!-- Template from chart.js -->
				    </tbody>
				  </table>
				</div>
			</div>
		</div>

	</section>