
	.key_actual-space_bottom {
		margin-bottom: 15px;
	}

	.parameters-space_bottom {
		margin-bottom: 30px;
	}




	@media screen and ( min-width: 62em ) {

		.key_actual-space_bottom {
			margin-bottom: 0;
		}

		.parameters-space_bottom {
			margin-bottom: 30px;
		}

	}