
	.client_wrap_container {
		background-color: #fff;
		border: 1px solid #bbb;
		border-top: 1px solid white;
		padding: 0 10px;
	}

	.client-profile_desc {
		line-height: .8;
		margin-bottom: 0;
	}

	.label_select {
		margin-top: -4px;
		p {
			margin-bottom: 2px;
			color: #5c5c5c;
		}
	}

	.title_label_select{
		font-size: 14px;
	}

	.items_select_box {
		color: #898989;
	}

	.input_countries {
		padding-right: 31px !important;
	}

	.client-profile_row {
		margin-top: 1rem;
		padding: 0 1.6rem;
	}

	.clientProfileEdit {
		margin-top: 20px;
	}

	@media screen and (min-width: 62em) {

		.client_wrap_container {
			border-top: 1px solid #c1c1c1;
		}
	}
