
	.client_wrap_container {
		background-color: #fff;
		border: 1px solid #bbb;
		padding: 0 10px;
	}

	.client-profile_desc {
		line-height: .8;
		margin-bottom: 0;
	}

	.section_title_card {
		margin-top: -4px;
		p {
			margin-bottom: 2px;
			color: #5c5c5c;
		}
	}

	.title_card {
		font-size: 14px;
	}

	.items_select_box {
		color: #898989;
		font-size: 15px;
	}