
	@import './../global/color.scss';

	.client_wrap_container {
		background-color: #fff;
		border-left: 1px solid $medium-gray;
		border-right: 1px solid $medium-gray;
		border-bottom: 1px solid $medium-gray;
		border-top: 1px solid $white;
		padding: 15px 10px;
	}

	.client-profile_desc {
		line-height: .8;
		margin-bottom: 0;
	}

	.title_label_select{
		font-size: 14px;
	}

	.items_select_box {
		color: #898989;
	}

	.input_countries {
		padding-right: 31px !important;
	}

	.client-profile_row {
		margin-top: 1rem;
		padding: 0 1.6rem;
	}

	.clientProfileEdit {
		margin-top: 20px;
	}

	.label_select,
	.label_select_code {
		p {
			margin-bottom: 2px;
		}
	}

	.label_select {
		margin-top: 0;
	}

	.label_select_code {
		margin-top: -4px
	}




	.hide-state-update {
		height: 0;
		opacity: 0;
		visibility: hidden;
		display: none !important;
	}