
	@import './../global/color.scss';

	.box {
		background-color: $gray;
		border: 1px solid $medium-gray;
		padding: 15px 15px 3px;
	}

	.bounty_col {
		padding-left: 20px;
		padding-right: 10px;
		position: relative;
		input.Bounty {
			left: 0;
			position: absolute;
			top: 4px;
		}
	}

	.bounty-row-wrap-default {
		.bounty_col {
			&:nth-of-type(2) {
				padding-left: 30px;
			}
			&:nth-of-type(3) {
				padding-left: 30px;
			}
		}

		.toggleContent {
			padding-left: 30px;
		}
	}

	.center-pay-total {
		padding-left: 40px;
	}

	.center-pay-total-small {
		padding-left: 30px;
	}

  .bounty_order_col_xs {
    :nth-child(2) {
      order: 1;
    }
    :nth-child(3) {
      order: 2;
    }
    :nth-child(4) {
      order: 0;
      .download_divident {
        order: 2;
      }
    }
  }



	@media screen and (min-width: 48em) {
		.bounty-row-wrap-default {
			.bounty_col {
				&:nth-of-type(2) {
					padding-left: 10px;
				}
			}
		}
	}
	@media screen and (min-width: 62em) {
		.bounty_col {
			padding-left: 0px;
			position: relative;
			input.Bounty {
				position: relative;
				top: 0;
			}
		}


		.bounty-row-wrap-default {
			.bounty_col {
				&:nth-of-type(2) {
					padding-left: 0;
				}
				&:nth-of-type(3) {
					padding-left: 0;
				}
			}
		}

		.center-pay-total {
			padding-left: 0;
		}

		.center-pay-total-small {
			padding-left: 0;
		}

    .bounty_order_col_xs {
      :nth-child(2) {
        order: 0;
      }
      :nth-child(3) {
        order: 0;
      }
      :nth-child(4) {
        order: 0;
        .download_divident {
          order: 0;
        }
      }
    }

	}
