

	.products_desc {
		margin-bottom: 0;
	}

	.products_title {
		margin-bottom: 10px;
	}

	.products_img_size {
		width: 100%;
		height: 198px;
	}

	.products_col-ico_close {
		color: $dark-gray-3;
		position: absolute;
		right: 3px;
		top: 3px;
	}

	.products_col-card_banner {
		position: relative;
		li {
			position: relative;
		}
		em {
			padding-left: 20px;
			line-height: 1.7;
		}
	}

	.products_figure_ico {
		max-width: 70px;
	}

	.card_section {
		position: relative;
	}

	.card_item_state {
		padding-left: 30px;
	}
