

	.products_desc {
		margin-bottom: 0;
	}

	.products_title {
		margin-bottom: 10px;
	}

	.products_img {
		height: 100%;
		max-height: 200px;
		object-fit: cover;
		object-position: 50% 0%;
		width: 100%;
	}

	.contribution_img {
		height: 108px;
		width: 100%;
		object-fit: cover;
		object-position: 50% 0%;
	}

	.loss_history_img {
		height: 108px;
		width: 100%;
		object-fit: cover;
		object-position: 50% 0%;
	}

	.products_col-ico_close {
		color: $dark-gray-3;
		position: absolute;
		right: 3px;
		top: 3px;
	}

	.products_col-card_banner {
		position: relative;
		li {
			position: relative;
		}
		em {
			padding-left: 20px;
			line-height: 1.7;
		}
	}

	.products_figure_ico {
		max-width: 70px;
	}

	.card_section {
		position: relative;
	}

	.card_item_state {
		padding-left: 30px;
	}

	.ico {
		position: relative;
		top: 5px;
		.ico_excel {
			position: absolute;
			max-width: 30px;
			top: -8px;
			right: -35px;
		}
	}

	@media screen and ( min-width: 62em ) {

		.products_img {
			max-height: initial;
		}

		.ico {
			position: relative;
			top: 35px;
		}

	}

