
	<h6 class="tabs-subtitle hide-xs show-md">Información del Crédito</h6>
	<div class="tabs_row u-row u-row-xs-full">
		<div class="tabs_col col-xs-12 col-sm-4 col-xs-full">
			<div class=" u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Rut Codeudor:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[Rut Codeudor]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Nombre Codeudor:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[Nombre Codeudor]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Fecha de Otorgamiento del Crédito:</strong></p>
				</div>
				<div class="tabs_icol col-xs-6 col-xs-full">
					<p>[DD/MM/AAAA]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Deuda Original:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[deuda UF]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Saldo Insoluto:</strong></p>
				</div>
				<div class="tabs_icol col-xs-6 col-xs-full">
					<p>[Saldo Insoluto UF]</p>
				</div>
			</div>
		</div>

		<div class="tabs_col col-xs-12 col-sm-4 col-xs-full">
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Monto Cuota Mínima:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[Monto UF]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Monto Cuota Máxima:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[Monto UF]</p>
				</div>
			</div>
		</div>
		<div class="tabs_col col-xs-12 col-sm-4 col-xs-full">
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Último Dividendo Pagado:</strong></p>
				</div>
				<div class="tabs_icol col-xs-6 col-xs-full">
					<p>[NN / NNN</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Fecha Último Pago:</strong></p>
				</div>
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p>[DD/MM/AAAA]</p>
				</div>
			</div>
			<div class="tabs_irow u-row u-row-xs-full">
				<div class="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle"><strong>Prima Total:</strong></p>
				</div>
				<div cilass="tabs_icol col-xs-12 col-xs-full">
					<p class="tabs_content_subtitle">UF 2,35 / $55.556</p>
				</div>
			</div>
		</div>
	</div>