
<section class="payment_history u-space">
	<p class="f-big tabs-subtitle-profile"><strong>Editar Fondos Depósito Convenido</strong></p>
	<div class="table table-scroll center-xs col-xs-12">
	  <table class="table-responsive u-striped">
	    <thead>
	      <tr>
	        <th class="table-8">
						<p class="f-small table_title "><strong>Nombre de Fondo</strong></p>
					</th>
	        <th class="table-2">
						<p class="f-small table_title"><strong>% Stock</strong></p>
					</th>
	        <th class="table-2">
						<p class="f-small table_title"><strong>% Flujo</strong></p>
					</th>
	      </tr>
	    </thead>

	    <tbody>
	    	{{#each table-edit-funds.funds}}
	      <tr>
	        <td class="table-8" align="left" valign="middle" data-table-title="Período de Cobertura">
						<p class="table_desc">{{name}}</p>
					</td>
	        <td class="table-2" align="left" valign="middle" data-table-title="Fecha de Pago">
						<input type="number" name="">
					</td>
	        <td class="table-2" align="left" valign="middle" data-table-title="Forma de Pago">
						<input type="number" name="">
					</td>
	      </tr>
	      {{/each}}
	    </tbody>
	  </table>

	</div>

	<div class="u-row u-space">
		<div class="col-xs-12 col-md-8"><a href="#">Ver todos los fondos</a></div>
		<div class="col-xs-12 col-md-2 center-xs"><p class="f-small table_title"><strong>% Stock</strong></p></div>
		<div class="col-xs-12 col-md-2 center-xs"><p class="f-small table_title"><strong>% Flujo</strong></p></div>
	</div>

	<div class="col-xs-12 end-xs">
		<a href="">Cancelar</a>
		<a href="#" class="button button-primary">Guardar Cambios</a>
	</div>

</section>

