<section class="pay-online u-top">

	<div class="BountyRowWrap">
		<div class="hide-xs hide-sm show-md show-lg">
			<div class="u-row u-space-small heading-table-blue ">
				<div class="col-xs-12 col-md-7"><p class="f-small"><strong>Seguro <span class="hide-md">/ Póliza</span></strong></p></div>
				<div class="col-xs-12 col-md-3 hide-xs show-md"><p class="f-small"><strong>Fecha Vencimiento</strong></p></div>
				<div class="col-xs-12 col-md-2 hide-xs show-md"><p class="f-small"><strong>Monto Disponible a Pagar</strong></p></div>
			</div>
		</div>

		<div class="col-xs-12 hide-xs show-sm show-md show-lg">
			<p class="u-left-small"><strong>MetLife Full Protección</strong> <span class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
		</div>
		<div class="col-xs-12 u-top show-xs hide-sm hide-md hide-lg">
			<p class="f-small"><strong>Seguro:</strong> MetLife Full Protección </p>
			<p class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
		</div>

		<div class="u-row BountyRow bounty-row u-left-small">

			<div class="col-xs-12 col-md-7 bounty_col">
				<p class="hide-xs hide-sm show-md show-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label bounty_col_label--link f-small u-left"><strong>Prima Junio 2017</strong></span>
          <span class="f-small"><a href=""> Descargar Cupón de Pago</a></span>
				</p>
				<div class="show-xs show-sm hide-md hide-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label f-small"><strong>Prima Junio 2017</strong></span>
				</div>
			</div>

			<div class="col-xs-12 u-left col-md-3 bounty_col">
				<p class="red f-small">Prima Vencida el: 20/10/2017</p>
			</div>
			<div class="col-xs-12 col-md-2 start-md bounty_col">
				<p class="f-small start-xs end-md"><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
			<div class="hide-md last-xs bounty_col">
				<p class="f-small"><a href=""> Descargar Cupón de Pago</a></<p>
			</div>

		</div>

		<div class="u-row BountyRow bounty-row-end u-space u-left-small">

			<div class="col-xs-12 col-md-7 bounty_col">
				<p class="hide-xs hide-sm show-md show-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label bounty_col_label--link f-small u-left"><strong>Prima Julio 2017</strong></span>
          <span class="f-small"><a href=""> Descargar Cupón de Pago</a></span>
				</p>
				<div class="show-xs show-sm hide-md hide-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label f-small"><strong>Prima Julio 2017</strong></span>
				</div>
			</div>

			<div class="col-xs-12 u-left col-md-3 bounty_col">
				<p class="f-small">Prima por Vencer el: 20/10/2017</p>
			</div>
			<div class="col-xs-12 col-md-2 start-md bounty_col">
				<p class="f-small start-xs end-md"><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
			<div class="hide-md last-xs bounty_col">
				<p class="f-small"><a href=""> Descargar Cupón de Pago</a></<p>
			</div>

		</div>

		<div class="u-row">
			<div class="col-xs-12 u-top hide-xs show-sm show-md show-lg">
			<p class="u-left-small"><strong>MetLife Seguro de Protección Salud Básico</strong> <span class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
		</div>
		<div class="col-xs-12 u-top show-xs hide-sm hide-md hide-lg">
			<p class="f-small"><strong>Seguro:</strong> MetLife Seguro de Protección Salud Básico</p>
			<p class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
		</div>
		</div>

		<div class="u-row BountyRow BountyRowUntilActive bounty-row u-left-small">

			<div class="col-xs-12 col-md-7 bounty_col">
				<p class="hide-xs hide-sm show-md show-lg">
					<input type="checkbox" name="" class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label bounty_col_label--link f-small u-left"><strong>Prima Abril 2017</strong></span>
          <span class="f-small"><a href=""> Descargar Cupón de Pago</a></span>
				</p>
				<div class="show-xs show-sm hide-md hide-lg">
					<input type="checkbox" name="" class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label f-small"><strong>Prima Abril 2017</strong></span>
				</div>
			</div>

			<div class="col-xs-12 u-left col-md-3 bounty_col">
				<p class="red f-small">Prima Vencida el: 20/10/2017</p>
			</div>
			<div class="col-xs-12 col-md-2 start-md bounty_col">
				<p class="f-small start-xs end-md"><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
			<div class="hide-md last-xs bounty_col">
				<p class="f-small"><a href=""> Descargar Cupón de Pago</a></<p>
			</div>

		</div>

		<div class="u-row BountyRow bounty-row u-left-small">

			<div class="col-xs-12 col-md-7 bounty_col">
				<p class="hide-xs hide-sm show-md show-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label bounty_col_label--link f-small u-left"><strong>Prima Mayo 2017</strong></span>
          <span class="f-small"><a href=""> Descargar Cupón de Pago</a></span>
				</p>
				<div class="show-xs show-sm hide-md hide-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label f-small"><strong>Prima Mayo 2017</strong></span>
				</div>
			</div>

			<div class="col-xs-12 u-left col-md-3 bounty_col">
				<p class="red f-small">Prima Vencida el: 20/10/2017</p>
			</div>
			<div class="col-xs-12 col-md-2 start-md bounty_col">
				<p class="f-small start-xs end-md"><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
			<div class="hide-md last-xs bounty_col">
				<p class="f-small"><a href=""> Descargar Cupón de Pago</a></<p>
			</div>

		</div>


		<div class="u-row BountyRow bounty-row-end u-space u-left-small">

			<div class="col-xs-12 col-md-7 bounty_col">
				<p class="hide-xs hide-sm show-md show-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label bounty_col_label--link f-small u-left"><strong>Prima Junio 2017</strong></span>
          <span class="f-small"><a href=""> Descargar Cupón de Pago</a></span>
				</p>
				<div class="show-xs show-sm hide-md hide-lg">
					<input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44">
          <span class="bounty_col_label f-small"><strong>Prima Junio 2017</strong></span>
				</div>
			</div>

			<div class="col-xs-12 u-left col-md-3 bounty_col">
				<p class="f-small">Prima por Vencer el: 20/10/2017</p>
			</div>
			<div class="col-xs-12 col-md-2 start-md bounty_col">
				<p class="f-small start-xs end-md"><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
			<div class="hide-md last-xs bounty_col">
				<p class="f-small"><a href=""> Descargar Cupón de Pago</a></<p>
			</div>

		</div>


		<div class="u-row">
			<div class="col-xs-12 col-md-5 col-md-offset-7 end-md center-pay-total-small u-top">
        <p><strong>Monto Total a Pagar: UF <span class="SumTotalUF">0</span> / $ <span class="SumTotalPeso">0</span></strong></p>
      </div>
		</div>

		<div class="end-xs col-xs-12 u-top u-space">
			<a href="#" class="button button-small button-full-xs">Pagar en Línea</a>
		</div>
	</div>
</section>