<section class="pay-online u-space u-top">
  <div class="col-xs-12 center-xs start-md u-top">
    <h5 class="card_title"><strong>Mutuaria</strong></h5>
  </div>

    <form class="InputCurrencyForm">

      <!-- BountyRowWrap -->
      <div class="BountyRowWrap">

        <div class="hide-xs hide-sm show-md show-lg">
          <div class="u-row u-space-small heading-table-blue ">
            <div class="col-xs-12 col-md-4"><p class="f-small"><strong>Crédito</strong></p>
            </div>
            <div class="col-xs-12 col-md-3 hide-xs show-md"><p class="f-small"><strong>Fecha Vencimiento</strong></p>
            </div>
            <div class="col-xs-12 col-md-3 hide-xs show-md"><p class="f-small"><strong>Monto Pago Disponible</strong></p>
            </div>
            <div class="col-xs-12 col-md-2 hide-xs show-md"><p class="f-small"><strong>Monto Total a Pagar</strong></p>
            </div>
          </div>
        </div> 
        <div class="col-xs-12 u-top hide-xs show-sm show-md show-lg">
          <p class="u-left-small"><strong>Crédito Mutuario Hipotecario</strong> <span class="f-small"><strong>Nº:</strong> 0235345346-A</span></p>
        </div> 
        <div class="col-xs-12 u-top show-xs hide-sm hide-md hide-lg">
          <p class="f-small"><strong>Crédito:</strong> Crédito Mutuario Hipotecario </p>
          <p class="f-small"><strong>Crédito Nº:</strong> 0235345346-A</p>
        </div>      

        <div class="u-row BountyRow bounty-row-end u-space u-left-small">

          <div class="col-xs-12 col-sm-6 col-md-4 u-space-md bounty_col">
            <p>
              <input type="checkbox" name="" disabled class="Bounty BountyDefaultValue" data-value-sum-uf="0.00">
              <a data-open-content="payDetail" class="openContent bounty_col_label u-left-small">
                <span class="openContentText u-top u-space f-small" data-rest-text="Dividento Nº 56 / 240" data-open-text="Dividento Nº 56 / 240" data-close="true">Dividendo Nº 56 / 240</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 u-space-md bounty_col f-small">
            <p class="line_jump">Dividendo por vencer el: 26/06/2017</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 u-space-md bounty_col f-small">
            <div class="u-row">
              <div class="col-sm-6 col-md-6 u-space">
                <p class="line_jump"><strong>Mínimo:</strong> UF 6.76 / $180.000</p>
                <p class="line_jump"><strong>Máximo:</strong> UF 6.76 / $550.000</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 u-space-small top-xs">
                <span class="input input--ichiro input--ichiro--currency">
                  <input class="input__field input__field--ichiro InputCurrency" data-live-validate="true" min="180000" max="550000" placeholder="0" type="text" required disabled>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 toggleContent bounty_col f-small" data-toggle-content="payDetail">
            <p><strong>Detalle del cobro</strong></p>
            <div class="u-row card-gray">
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Amortización:</strong>
                <br>UF 200
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Interés Pagado:</strong>
                <br>$ 3.433.344
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Interés Mora:</strong>
                <br>$ 0
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Total:</strong>
                <br>$ 444.443
              </div>
              <p class="col-xs-12 end-xs u-top">
                Si prefieres, puedes descargar tu cupón de pago y pagar en cualquiera de nuestras sucursales.
                <br class="show-xs hide-md"><a href=""> Descarga Cupón de Pago.</a>
              </p>
            </div>
          </div>
        </div>

        

        <div class="col-xs-12 u-top hide-xs show-sm show-md show-lg ">
          <p class="u-left-small"><strong>Crédito Hipotecario Universal</strong> <span class="f-small"><strong>Nº:</strong> 0235345346-A</span></p>
        </div> 
        <div class="col-xs-12 u-top show-xs hide-sm hide-md hide-lg">
          <p class="f-small"><strong>Crédito:</strong> Crédito Mutuario Hipotecario </p>
          <p class="f-small"><strong>Crédito Nº:</strong> 0235345346-A</p>
        </div> 

        <div class="u-row BountyRowDefault u-left-small">

          <div class="col-xs-12 col-sm-6 col-md-4 u-space-md bounty_col">
            <p>
              <input type="checkbox" name="" class="SumInput BountyRowDefaultSumInput" data-value-sum-uf="6.76">
              <a data-open-content="payDetail3" class="openContent bounty_col_label u-left">
                <span class="openContentText u-top u-space f-small" data-rest-text="Dividento Nº 58 / 240" data-open-text="Dividento Nº 58 / 240" data-close="true">Dividendo Nº 58 / 240</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 u-space-md bounty_col f-small">
            <p class="red line_jump">Dividendo Vencido el: 26/06/2017</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 u-space-md bounty_col">
            <div class="u-row">
              <div class="col-sm-6 col-md-6 u-space f-small">
                <p class="line_jump">UF 6.76 / $180.000</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 u-space-small top-xs">
                <span class="input input--ichiro InputCurrencyBountyRowDefaultWrap  f-small">
                  <span>UF 6.76 / </span>
                  <span>$</span>
                  <input class="input__field input__field--ichiro InputCurrency InputCurrencyBountyRowDefault" value="179,925" data-live-validate="true" min="180000" max="550000" placeholder="0" type="text" required disabled>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 toggleContent bounty_col u-space-small f-small" data-toggle-content="payDetail3">
            <p><strong>Detalle del cobro</strong></p>
            <div class="u-row card-gray">
              <div class="col-xs-12 col-sm-6 col-md-3 u-space  f-small">
                <strong>Amortización:</strong>
                <br>UF 200
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space  f-small">
                <strong>Interés Pagado:</strong>
                <br>$ 3.433.344
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Interés Mora:</strong>
                <br>$ 0
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Total:</strong>
                <br>$ 444.443
              </div>
            </div>
          </div>
        </div>

    		<div class="u-row BountyRowDefault u-left-small">

          <div class="col-xs-12 col-sm-6 col-md-4 u-space-md bounty_col">
            <p>
              <input type="checkbox" name="" class="SumInput BountyRowDefaultSumInput" data-value-sum-uf="6.76">
              <a data-open-content="payDetail4" class="openContent bounty_col_label u-left">
                <span class="openContentText u-top u-space f-small" data-rest-text="Dividento Nº 59 / 240" data-open-text="Dividento Nº 59 / 240" data-close="true">Dividento Nº 59 / 240</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 u-space-md bounty_col f-small">
            <p class="red line_jump">Dividendo Vencido el: 26/06/2017</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 u-space-md bounty_col f-small">
            <div class="u-row">
              <div class="col-sm-6 col-md-6 u-space">
                <p class="line_jump"><strong>Monto Pago UF / Peso:</strong></p>
                <p class="line_jump">UF 6.76 / $180.000</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 u-space-small top-xs">
                <span class="input input--ichiro">
                  <span>UF 6.76 / </span>
                  <span>$</span>
                  <input class="input__field input__field--ichiro InputCurrency InputCurrencyBountyRowDefault" value="179,925" data-live-validate="true" min="180000" max="550000" placeholder="0" type="text" required disabled>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 toggleContent bounty_col f-small" data-toggle-content="payDetail4">
            <p><strong>Detalle del cobro</strong></p>
            <div class="u-row card-gray">
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Amortización:</strong>
                <br>UF 200
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Interés Pagado:</strong>
                <br>$ 3.433.344
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Interés Mora:</strong>
                <br>$ 0
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space f-small">
                <strong>Total:</strong>
                <br>$ 444.443
              </div>
            </div>
          </div>
    		</div>

        <div class="u-row BountyRow BountyRowUntilActive u-left-small">

          <div class="col-xs-12 col-sm-6 col-md-4 u-space-md bounty_col">
            <p>
              <input type="checkbox" name="" class="Bounty BountyDefaultValue BountyActive" data-value-sum-uf="0.00">
              <a data-open-content="payDetail20" class="openContent bounty_col_label u-left">
                <span class="openContentText u-top u-space  f-small" data-rest-text="Dividento Nº 57 / 240" data-open-text="Dividento Nº 57 / 240" data-close="true">Dividendo Nº 57 / 240</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 u-space-md bounty_col">
            <p class="line_jump f-small">Dividendo por Vencer el: 26/06/2017</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 u-space-md bounty_col">
            <div class="u-row">
              <div class="col-sm-6 col-md-6 u-space f-small">
                <p class="line_jump"><strong>Mínimo:</strong> UF 6.76 / $180.000</p>
                <p class="line_jump"><strong>Máximo:</strong> UF 6.76 / $550.000</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 u-space-small top-xs">
                <span class="input input--ichiro input--ichiro--currency">
                  <input class="input__field input__field--ichiro InputCurrency" data-live-validate="true" min="180000" max="550000" placeholder="0" type="text" required disabled>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 toggleContent bounty_col  f-small" data-toggle-content="payDetail20">
            <p><strong>Detalle del cobro</strong></p>
            <div class="u-row card-gray">
              <div class="col-xs-12 col-sm-6 col-md-3 u-space">
                <strong>Amortización:</strong>
                <br>UF 200
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space">
                <strong>Interés Pagado:</strong>
                <br>$ 3.433.344
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space">
                <strong>Interés Mora:</strong>
                <br>$ 0
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 u-space">
                <strong>Total:</strong>
                <br>$ 444.443
              </div>
            </div>
          </div>
        </div>

        <div class="u-row u-top">
          <div class="col-xs-12 col-md-2"></div>
          <div class="col-xs-12 col-md-3"></div>
          <div class="col-xs-12 col-md-2"></div>
          <div class="col-xs-12 col-md-5 end-xs end-md u-right u-top"><p><strong>Monto Total a Pagar: UF <span class="SumTotalUF">0</span> / $ <span class="SumTotalPeso">0</span></strong></p></div>
          <div class="end-xs col-xs-12 u-top u-space-small">
            <div class="col-xs-12">
              <a href="#" class="button button-small button-full-xs button-disabled InputCurrencyButton">Pagar en Línea</a>
            </div>
          </div>
        </div>
      </div>

      <!-- / BountyRowWrap -->
    </form>

		
</section>