
<section class="pay-online u-space u-top">
	<div class="card card-blue card_container u-row z-depth-2 bottom-xs">

		<div class="col-xs-12 col-sm-6 col-md-3">
			<p class="f-small"><em>Seguros Individuales</em></p>
			<h5 class="card_title"><strong>MetLife Seguros de Vida</strong></h5>
			<p><strong>Póliza N°:</strong>0056705543-A</p>
		
	      <p class="line_jump"><strong>Período a Pagar:</strong></p>
	      <p>Junio 2017</p>
	    </div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<p class="line_jump"><strong>Fecha Próximo Vencimiento:</strong></p>
			<p>26/06/2017 (en 3 días más)</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-2">
			<p class="line_jump"><strong>Monto Total a Pagar:</strong></p>
			<p>$54.554</p>
		</div>


		<div class="col-xs-12 col-sm-6 col-md-3 end-xs">
	    	<p><a href="#" class="button button-small button-full-xs">Pagar en línea</a></p>
		</div>

		<p class="col-xs-12 end-xs u-top">Si prefieres, puedes descargar tu cupón de pago y pagar en cualquiera de nuestras sucursales.
			<a href=""> Descarga Cupón de Pago.</a>
		</p>
	</div>
</section>
