<section class="pay-online u-space u-top">

	<div class="card card-green card_container z-depth-2">
		<div class="u-row bottom-xs">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<p class="f-small"><em>Mutuaria</em></p>
				<h5 class="card_title"><strong><a href="{{root}}5-productos/5.1-life/life.html" data-limit="35">Crédito Mutuo Hipotecario</a></strong></h5>
				<p><strong>Crédito N°:</strong>0056705543-A</p>
			</div>
		</div>


		<h6 class="tabs-subtitle-profile">Seleccionar Monto a Pagar</h6>

		<div class="u-row top-xs">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<p class="line_jump"><strong>Pago Mínimo / Máximo</strong></p>
				<p class="line_jump">$180.000 / $550.000</p>
			</div>

			<div class="col-xs-4 col-sm-3 col-md-2 top-xs">
				<section class=" clientProfileEdit u-space">
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro middle InputCurrency" data-live-validate="true" min="180000" max="550000" placeholder="Monto" type="text" required>
						<label class="input__label input__label--ichiro">
						</label>
					</span>
				</section>
			</div>
		</div>

		<div class="end-xs">
			<div class="col-xs-12">
				<a href="#pay-online" class="button button-primary button-disabled InputCurrencyButton">Pagar en Línea</a>
	    </div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 end-xs">
		</div>

		<p class="col-xs-12 end-xs">Si prefieres, puedes descargar tu cupón de pago y pagar en cualquiera de nuestras sucursales.
			<a href=""> Descarga Cupón de Pago.</a>
		</p>
	</div>
</section>
