<section class="pay-online u-space u-top">
	<div class="col-xs-12">
		<h5 class="card_title"><strong>Seguros Individuales</strong></h5>
	</div>

	<div class="BountyRowWrap">
		<div class="u-row u-space-small heading-table-blue">
			<div class="col-xs-12 col-md-7"><p class="f-small"><strong>Producto <span class="hide-md">/ Póliza</span></strong></p></div>
			<div class="col-xs-12 col-md-3 hide-xs show-md"><p class="f-small"><strong>Fecha Próximo Vencimiento</strong></p></div>
			<div class="col-xs-12 col-md-2 hide-xs show-md"><p class="f-small"><strong>Monto Total a Pagar</strong></p></div>
		</div>
		<div class="col-xs-12 u-top">
			<p class="u-left-small"><strong>MetLife Full Protección</strong> <span class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
		</div>



		<div class="u-row BountyRow bounty-row u-left-small">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Junio 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p class="red">
					<strong>Vencida:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>
		<div class="u-row BountyRow bounty-row-end u-space-2x u-left-small">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Julio 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p>
					<strong class="f-small">Por Vencer:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>



		<div class="u-row">
			<div class="col-xs-12">
				<p><strong>MetLife Seguro de Protección Salud Básico</strong> <span class="f-small"><strong>Póliza Nº:</strong> 0235345346-A</span></p>
			</div>
		</div>

		<div class="u-row BountyRow bounty-row">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Abril 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p class="red">
					<strong>Vencida:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>
		<div class="u-row BountyRow bounty-row">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Mayo 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p class="red">
					<strong>Vencida:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>
		<div class="u-row BountyRow bounty-row">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Junio 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p class="red">
					<strong>Vencida:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>

		<div class="u-row BountyRow bounty-row-end u-space-2x">
			<div class="col-xs-12 col-md-7 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty SumInput" data-value-sum-uf="5.44"><span class="bounty_col_label f-small u-left"><strong>Prima Julio 2017</strong></span><a href="" class="u-left"><span class="f-small"> Descargar Cupón de Pago</span></a>
				</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p>
					<strong class="f-small">Por Vencer:</strong> 20/10/2017
				</p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>


		<div class="u-row">
			<div class="col-xs-12 col-md-4"></div>
			<div class="col-xs-12 col-md-2"></div>
			<div class="col-xs-12 col-md-1"></div>
			<div class="col-xs-12 col-md-5 end-xs u-top u-right"><p><strong>Monto Total a Pagar: UF <span class="SumTotalUF">0</span> / $ <span class="SumTotalPeso">0</span></strong></p>
		</div>

		<div class="end-xs col-xs-12 u-top u-space-small">
			<div class="col-xs-12">
				<a href="#" class="button button-small button-full-xs">Pagar en Línea</a>
			</div>
		</div>
	</div>
</section>