<section class="pay-online u-space u-top">
	<div class="card card-pink card_container z-depth-2">
		<div class="u-row bottom-xs">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<p class="f-small"><em>Seguros de Salud</em></p>
				<h5 class="card_title"><strong><a href="{{root}}5-productos/5.1-life/life.html" data-limit="35">MetLife Salud Accidentes 3/4</a></strong></h5>
				<p><strong>Póliza N°:</strong>0056705543-A</p>
				<p class="line_jump"><strong>Período a Pagar:</strong></p>
				<p>Tienes 3 Primas Pendientes de Pago</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<p class="line_jump"><strong>Fecha Próximo Vencimiento:</strong></p>
				<p>18/05/2017</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-2">
				<p class="line_jump"><strong>Monto Total a Pagar:</strong></p>
				<p>$174.554</p>
			</div>
		</div>

		<p class="tabs-subtitle-profile u-divider-bottom u-top"><strong>Primas disponibles para pagar en línea:</strong></p>

		<div class="u-row u-space-small">
			<div class="col-xs-12 col-md-4 u-divider-bottom"><p class="f-small"><strong>Prima <span class="hide-md">/ Recibo</span></strong></p></div>
			<div class="col-xs-12 col-md-3 hide-xs show-md u-divider-bottom"><p class="f-small"><strong>Fecha Próximo Vencimiento</strong></p></div>
			<div class="col-xs-12 col-md-3 hide-xs show-md u-divider-bottom"><p class="f-small"><strong>Cupón de Pago</strong></p></div>
			<div class="col-xs-12 col-md-2 hide-xs show-md u-divider-bottom"><p class="f-small"><strong>Monto Total a Pagar</strong></p></div>
		</div>


		<div class="u-row BountyRow">
			<div class="col-xs-12 col-md-4 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty " data-value-uf="5.44"><span class="bounty_col_label u-left"><strong> Prima Septiembre:</strong></span><span-class="f-small">Recibo: 34554555</span></p>
			</div>
			<div class="col-xs-12 col-md-3 bounty_col">
				<p><strong class="red">Vencida:</strong> 20/11/2017</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p><a href="#">Descargar Cupón de Pago</a></p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">5.44</span> / $ <span class="UFConvertion">52.179</span></p>
			</div>
		</div>

		<div class="u-row BountyRow">
			<div class="col-xs-12 col-md-4 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty" data-value-uf="3.44"><span class="bounty_col_label u-left"><strong> Prima Octubre:</strong></span><span-class="f-small">Recibo: 34554555</span></p>
			</div>
			<div class="col-xs-12 col-md-3 bounty_col">
				<p><strong class="red">Vencida:</strong> 20/10/2017</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p><a href="#">Descargar Cupón de Pago</a></p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">3.44</span> / $ <span class="UFConvertion">49.550</span></p>
			</div>
		</div>

		<div class="u-row BountyRow">
			<div class="col-xs-12 col-md-4 bounty_col">
				<p><input type="checkbox" name="" disabled class="Bounty" data-value-uf="2.44"><span class="bounty_col_label u-left"><strong> Prima Noviembre:</strong></span><span-class="f-small">Recibo: 34554555</span></p>
			</div>
			<div class="col-xs-12 col-md-3 bounty_col">
				<p><strong>Próximo Pago:</strong> 20/09/2017</p>
			</div>
			<div class="col-xs-6 col-md-3 bounty_col">
				<p><a href="#">Descargar Cupón de Pago</a></p>
			</div>
			<div class="col-xs-6 col-md-2 end-xs start-md bounty_col">
				<p><span class="hide-md"><strong>Total: </strong></span>UF <span class="UFValue">2.44</span> / $ <span class="UFConvertion">47.550</span></p>
			</div>
		</div>

		<div class="u-divider u-row u-top">
			<div class="col-xs-12 col-md-2"></div>
			<div class="col-xs-12 col-md-3"></div>
			<div class="col-xs-12 col-md-2"></div>
			<div class="col-xs-12 col-md-5 end-xs end-md u-right u-top"><p><strong>Monto Total a Pagar: UF <span class="BountyValueUF">0</span> / $ <span class="BountyValueConvertUF">0</span></strong></p></div>
		</div>

		<div class="end-xs col-xs-12 u-top u-space-small">
			<div class="col-xs-12">
				<a href="#" class="button button-small button-full-xs">Pagar en Línea</a>
		    </div>
		</div>

	</div>
</section>