{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metlife re branding</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.6/css/foundation-datepicker.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNPCQ3N');</script>
<!-- End Google Tag Manager -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.0/anime.js"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNPCQ3N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.6/js/foundation-datepicker.js"></script>
    <script>
    (function() {
      // Fake loading.
      setTimeout(init, 1000);

      function init() {

        var splitContent = document.querySelector('.dual__content'),
          rev1 = new RevealFx(document.querySelector('.revLogin'), {
            revealSettings : {
              bgcolor: '#A4CE4E',
              direction: 'lr',
              duration: 800,
              easing: 'easeInOutCirc',
              coverArea: 0,
              onCover: function(contentEl, revealerEl) {
                contentEl.style.opacity = 1;
                splitContent.classList.add('dual__content--show');
              }
            }
          });

        rev1.reveal();
      }
    })();

    // Datepicker
    (function ( $ ) {
      let today = new Date();
      let dd = today.getDate();
      let mm = today.getMonth() + 1;

      let yyyy = today.getFullYear();
      if( dd < 10 ){
          dd = '0' + dd;
      }
      if( mm < 10 ){
          mm = '0' + mm;
      }
      let todayDate = dd + '-' + mm + '-' + yyyy;

      $('#dp1').fdatepicker({
        initialDate: todayDate,
        format: 'dd-mm-yyyy',
        disableDblClickSelection: true,
        leftArrow:'<<',
        rightArrow:'>>',
        closeIcon:'X',
        closeButton: false
      });

    }( jQuery ));




if(Modernizr.objectfit) {
  console.log('no have object fit')
    }
    else {

        tkObjectFit();
    }
    </script>
  </body>
</html>