
<section class="tabs-health" >
  <div id="parentHorizontalTab">
    <ul class="resp-tabs-list hor_1">
      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow">Información <br class="hide-xs show-md">de la Póliza<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>

      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow">Información <br class="hide-xs show-md">de Pagos<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>

      <li class="tab-accordion gutter-a">
        <h5 class="tab_arrow">Asegurados <br class="hide-xs show-md">y Beneficiarios<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>

      <li class="tab-accordion gutter-f">
        <h5 class="tab_arrow">Histórico <br class="hide-xs show-md">de Siniestros<i class="fa fa-angle-down hide-md" aria-hidden="true"></i></h5>
      </li>
    </ul>

    <div class="resp-tabs-container hor_1">
      <div>{{> tab-health-1 }}</div>
      <div>{{> tab-health-2 }}</div>
      <div>{{> tab-health-3 }}</div>
      <div>{{> tab-health-5 }}</div>
    </div>
	</div>
</section>