
<section class="client-profile_cards">
	<form action="" data-abide novalidate data-live-validate="true" id="UpdateDataForm">
		<section class="tabs_wrap u-space">
			<div class="client_wrap_container">

				{{> card-personal-client-profile}}
				{{> card-contact-client-profile}}
				{{> card-other-client-profile}}

			</div>
		</section>

		<section class="u-row center-xs middle-xs gutter-xs">
			<!--Modal aceptar actualizar datos-->
			<div class="reveal alert alert-error" id="clientProfileModal" data-reveal>
				<p class="u-space f-big">Si aceptas explicitamente modificar sus datos, da click en <strong>acepto actualizar mis datos.</strong></p>
				<div class="u-row middle-xs">
					<div class="col-xs-6 col-xs-full">
						<a data-close aria-label="Close modal" class="f-link">Cancelar</a>
					</div>
					<div class="col-xs-6 col-xs-full end-xs">
						<button class="button button-full button-primary" id="clientProfileUpdateData" data-close aria-label="Close modal" type="button">Acepto actualizar mis datos</button>
					</div>
				</div>
			</div>


			<div class="col-xs-4 col-xs-full end-xs ClientProfileToggleHide u-space">
				<a class="button button-full button-primary" data-open="clientProfileModal">Actualizar datos</a>
			</div>
			<div class="col-xs-4 col-xs-full end-xs hide-xs u-space" id="clientProfileCancelUpdateData">
				<a href="#" class="f-link">Cancelar actualización de datos</a>
			</div>
			<div class="col-xs-4 col-xs-full end-xs hide-xs u-space" id="clientProfileSaveUpdateData">
				<button type="submit" class="button button-full button-primary">Guardar cambios</button>
			</div>

			<div class="col-xs-12">
				<div class="alert alert-success u-space hide-xs" id="ClientProfileMessageSuccess">
					<p class="alert_desc center-xs">
						Tus cambios han sido guardados con exito
					</p>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="alert alert-error u-space hide-xs" id="ClientProfileMessageCancel">
					<p class="alert_desc center-xs">
						Tus cambios han sido cancelados
					</p>
				</div>
			</div>
		</section>
	</form>
</section>